grammars/bipm.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "relaton-bipm.rnc" {}
include "isodoc.rnc" {

start = bipm-standard

xref =
  element xref {
     attribute target { xsd:string { pattern = "\i\c*|\c+#\c+" }},
     attribute to { xsd:string { pattern = "\i\c*|\c+#\c+" }}?,
     attribute type { ReferenceFormat }?,
     attribute alt { text }?,
     attribute case { "capital" | "lowercase" }?,
     attribute droploc { xsd:boolean }?,
     attribute pagenumber { xsd:boolean }?,
     attribute nosee { xsd:boolean }?,
     attribute nopage { xsd:boolean }?,
     XrefBody
}

Clause-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    attribute type { text }?,
    attribute unnumbered  { xsd:boolean }?,
    section-title?,
    (
      ( (  BasicBlock* ) | amend ),
       (clause-subsection | terms | definitions | floating-title )*
    )

Annex-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    attribute unnumbered  { xsd:boolean }?,
    section-title?,
    (
      ( BasicBlock* ),
       (annex-subsection | terms | definitions | references | floating-title )*
    )

ol =
  element ol {
    attribute id { xsd:ID },
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute tag { text }?,
    attribute multilingual-rendering { MultilingualRenderingType }?,
    attribute type { ( "roman" | "alphabet" | "arabic" |
                       "roman_upper" | "alphabet_upper" ) },
    attribute start { text }?,
    tname?, li+, note*
}

}

bipm-standard =
  element bipm-standard {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface?, sections+, annex*, bibliography?, indexsect*
 }

