grammars/bipm.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="relaton-bipm.rng"/>
  <include href="isodoc.rng">
    <define name="Clause-Section">
      <ref name="Section-Attributes"/>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <group>
        <choice>
          <zeroOrMore>
            <ref name="BasicBlock"/>
          </zeroOrMore>
          <ref name="amend"/>
        </choice>
        <zeroOrMore>
          <choice>
            <ref name="clause-subsection"/>
            <ref name="terms"/>
            <ref name="definitions"/>
            <ref name="floating-title"/>
          </choice>
        </zeroOrMore>
      </group>
    </define>
  </include>
  <define name="XrefAttributes" combine="interleave">
    <optional>
      <attribute name="pagenumber">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="nosee">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="nopage">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="Annex-Section-Attributes" combine="interleave">
    <optional>
      <attribute name="unnumbered">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="OlAttributes" combine="interleave">
    <optional>
      <attribute name="start"/>
    </optional>
  </define>
</grammar>
