grammars/bipm.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    VERSION v1.2.1
    Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csand additions. And we do not want that.
  -->
  <include href="relaton-bipm.rng"/>
  <include href="isodoc.rng">
    <start>
      <ref name="bipm-standard"/>
    </start>
    <define name="xref">
      <element name="xref">
        <attribute name="target">
          <data type="string">
            <param name="pattern">\i\c*|\c+#\c+</param>
          </data>
        </attribute>
        <optional>
          <attribute name="to">
            <data type="string">
              <param name="pattern">\i\c*|\c+#\c+</param>
            </data>
          </attribute>
        </optional>
        <optional>
          <attribute name="type">
            <ref name="ReferenceFormat"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="alt"/>
        </optional>
        <optional>
          <attribute name="case">
            <choice>
              <value>capital</value>
              <value>lowercase</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="droploc">
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="pagenumber">
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="nosee">
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="nopage">
            <data type="boolean"/>
          </attribute>
        </optional>
        <ref name="XrefBody"/>
      </element>
    </define>
    <define name="Clause-Section">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language"/>
      </optional>
      <optional>
        <attribute name="script"/>
      </optional>
      <optional>
        <attribute name="inline-header">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="obligation">
          <choice>
            <value>normative</value>
            <value>informative</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <group>
        <choice>
          <zeroOrMore>
            <ref name="BasicBlock"/>
          </zeroOrMore>
          <ref name="amend"/>
        </choice>
        <zeroOrMore>
          <choice>
            <ref name="clause-subsection"/>
            <ref name="terms"/>
            <ref name="definitions"/>
            <ref name="floating-title"/>
          </choice>
        </zeroOrMore>
      </group>
    </define>
    <define name="Annex-Section">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language"/>
      </optional>
      <optional>
        <attribute name="script"/>
      </optional>
      <optional>
        <attribute name="inline-header">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="obligation">
          <choice>
            <value>normative</value>
            <value>informative</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <group>
        <zeroOrMore>
          <ref name="BasicBlock"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="annex-subsection"/>
            <ref name="terms"/>
            <ref name="definitions"/>
            <ref name="references"/>
            <ref name="floating-title"/>
          </choice>
        </zeroOrMore>
      </group>
    </define>
    <define name="ol">
      <element name="ol">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <ref name="BlockAttributes"/>
        <attribute name="type">
          <choice>
            <value>roman</value>
            <value>alphabet</value>
            <value>arabic</value>
            <value>roman_upper</value>
            <value>alphabet_upper</value>
          </choice>
        </attribute>
        <optional>
          <attribute name="start"/>
        </optional>
        <optional>
          <ref name="tname"/>
        </optional>
        <oneOrMore>
          <ref name="li"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
      </element>
    </define>
  </include>
  <define name="bipm-standard">
    <element name="bipm-standard">
      <ref name="Root-Attributes"/>
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <optional>
        <ref name="misccontainer"/>
      </optional>
      <optional>
        <ref name="boilerplate"/>
      </optional>
      <optional>
        <ref name="preface"/>
      </optional>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <optional>
        <ref name="bibliography"/>
      </optional>
      <zeroOrMore>
        <ref name="indexsect"/>
      </zeroOrMore>
    </element>
  </define>
</grammar>
