grammars/bsi.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- default namespace = "https://www.metanorma.com/ns/bsi" -->
  <include href="isostandard.rng">
    <start>
      <ref name="bsi"/>
    </start>
    <define name="DocumentType">
      <choice>
        <value>specification</value>
        <value>management-systems-standard</value>
        <value>code-of-practice</value>
        <value>guide</value>
        <value>method-of-test</value>
        <value>method-of-specifying</value>
        <value>vocabulary</value>
        <value>classification</value>
      </choice>
    </define>
    <define name="BibDataExtensionType">
      <ref name="doctype"/>
      <ref name="editorialgroup"/>
      <zeroOrMore>
        <ref name="ics"/>
      </zeroOrMore>
      <ref name="structuredidentifier"/>
      <optional>
        <ref name="stagename"/>
      </optional>
      <optional>
        <ref name="price-code"/>
      </optional>
      <optional>
        <ref name="cen-processing"/>
      </optional>
    </define>
  </include>
  <!-- end overrides -->
  <define name="price-code">
    <element name="price-code">
      <text/>
    </element>
  </define>
  <define name="cen-processing">
    <element name="cen-processing">
      <data type="boolean"/>
    </element>
  </define>
  <!--
    We display the Normative References between scope and terms; but to keep the
    grammar simple, we keep the references together
  -->
  <define name="bsi">
    <element name="ibsi">
      <attribute name="version"/>
      <attribute name="type">
        <choice>
          <value>semantic</value>
          <value>presentation</value>
        </choice>
      </attribute>
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <optional>
        <ref name="misccontainer"/>
      </optional>
      <optional>
        <ref name="boilerplate"/>
      </optional>
      <ref name="preface"/>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
      <zeroOrMore>
        <ref name="indexsect"/>
      </zeroOrMore>
    </element>
  </define>
</grammar>
