grammars/bsi.rnc

#default namespace = "https://www.metanorma.com/ns/bsi"

include "isostandard.rnc" {

start = bsi-standard

DocumentType =
     "specification" |  "management-systems-standard" | "code-of-practice" |
           "guide" | "method-of-test" | "method-of-specifying" | "vocabulary" |
           "classification"

BibDataExtensionType =
        doctype, editorialgroup, ics*, structuredidentifier, 
        stagename?, price-code?, cen-processing?
}

admonition =
  element admonition {
    attribute type { AdmonitionType },
    attribute class { text }?,
    attribute id { xsd:ID },
    attribute target { xsd:IDREF }?,
    attribute uri { xsd:anyURI }?,
    tname?,
    paragraph-with-footnote*,
    note*
  }


# end overrides

AdmonitionType |= "commentary"

price-code = element price-code { text }
cen-processing = element cen-processing { xsd:boolean }

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
bsi-standard = 
  element bsi-standard {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
  }

