grammars/bsi.rnc

#default namespace = "https://www.metanorma.com/ns/bsi"

include "isostandard.rnc" {

start = bsi

DocumentType =
     "specification" |  "management-systems-standard" | "code-of-practice" |
           "guide" | "method-of-test" | "method-of-specifying" | "vocabulary" |
           "classification"

BibDataExtensionType =
        doctype, editorialgroup, ics*, structuredidentifier, 
        stagename?, price-code?, cen-processing?
}

# end overrides

price-code = element price-code { text }
cen-processing = element cen-processing { xsd:boolean }

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
bsi = 
  element bsi {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
  }

