grammars/bsi.rnc

#default namespace = "https://www.metanorma.com/ns/bsi"

include "isostandard.rnc" {

start = bsi-standard

DocumentType =
     "british-standard" | "draft-for-development" | "published-document" |
     "privately-subscribed-standard" | "publicly-available-specification" |
     "flex-standard" | "international-standard" | "technical-specification" |
     "technical-report" | "guide" | "international-workshop-agreement" |
     "industry-technical-agreement" | "standard" | "european-workshop-agreement"

DocumentSubtype = "specification" | "method-of-test" | "method-of-specifying" |
                  "vocabulary" | "code-of-practice"

BibDataExtensionType =
        doctype, docsubtype?, editorialgroup, ics*, structuredidentifier, 
        stagename?, coverimages*

admonition =
  element admonition {
    attribute type { AdmonitionType },
    attribute class { text }?,
    attribute id { xsd:ID },
    attribute target { xsd:IDREF }?,
    attribute uri { xsd:anyURI }?,
    tname?,
    paragraph-with-footnote*,
    note*
  }

}

# end overrides

AdmonitionType |= "commentary"

coverimages = element coverimages { image+ }

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
bsi-standard = 
  element bsi-standard {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
  }

