grammars/csd.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    default namespace = "http://riboseinc.com/csd"
    Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csd additions. And we do not want that.
  -->
  <include href="isostandard_diff.rng">
    <start>
      <ref name="csd-standard"/>
    </start>
    <define name="language">
      <element name="language">
        <value>en</value>
      </element>
    </define>
    <define name="docidentifier">
      <element name="docidentifier">
        <text/>
      </element>
    </define>
    <define name="btitle">
      <element name="title">
        <ref name="FormattedString"/>
      </element>
    </define>
  </include>
  <define name="csd-standard">
    <element name="csd-standard">
      <ref name="bibdata"/>
      <optional>
        <ref name="version"/>
      </optional>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
    </element>
  </define>
</grammar>
