grammars/csd.rnc

# default namespace = "http://riboseinc.com/csd"
# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csd additions. And we do not want that.

include "isostandard.rnc" {

start = csd-standard

language = element language { ( "en" ) }

docidentifier = element docidentifier {
  attribute type { text }?,
  text
}

btitle = element title { FormattedString }

status = element status { "proposal" | "working-draft" | "committee-draft" | "draft-standard" | "final-draft" | "published" | "withdrawn" | LocalizedString }

figure =
  element figure {
    attribute id { xsd:ID },
     source?, tname?, ( figure+ |  ( (TextElement* | pre), note*, dl? ) )
  }

# TextElement |= keyword
TextElement =
  text | em | eref | strong | stem | sub | sup | tt |
  strike | smallcap | xref | br | hyperlink | hr | pagebreak | bookmark | keyword

BibItemType =
        "code" | "presentation" | "proposal" | "standard" | "report"

}

pre = element pre { text }

keyword = element keyword { text }

csd-standard =
  element csd-standard {
    bibdata, version?, termdocsource*, preface, sections+, annex*, bibliography
 }

