grammars/csd.rnc

# default namespace = "http://riboseinc.com/csd"
# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csd additions. And we do not want that.

include "isostandard.rnc" {

start = csd-standard

language = element language { ( "en" ) }

docidentifier = element docidentifier { text }

btitle = element title { FormattedString }

status = element status { FormattedString }

figure =
  element figure {
    attribute id { xsd:ID },
     source?, tname?, ( figure+ |  ( (TextElement* | pre), note*, dl? ) )
  }

}

BibItemType |= "governance" | "standard" | "guide"

pre = element pre { text }

csd-standard =
  element csd-standard {
    bibdata, version?, foreword, introduction?, sections+, annex*, references+
 }

