grammars/csd_diff.rnc

default namespace = "http://riboseinc.com/csd"

# grammar {

start = csd-standard

language = element language { ( "en" ) }

id = element id { text }

title = element title { attribute language { text }, text }

csd-standard =
  element csd-standard {
    title,
    status,
    creator,
    language,
    script,
    type,
    id,
    version?,
    copyright,
    sections
  }

