grammars/gbstandard.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- default namespace = "http://riboseinc.com/gbstandard" -->
  <!--
    Currently we inherit from a namespaced grammar, isostandard. Unless we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csd additions. And we do not want that.
  -->
  <include href="isostandard_diff.rng">
    <start>
      <ref name="gb-standard"/>
    </start>
    <define name="language">
      <element name="language">
        <choice>
          <value>zh</value>
          <value>en</value>
        </choice>
      </element>
    </define>
    <define name="script">
      <element name="script">
        <choice>
          <value>Hans</value>
          <value>Latn</value>
        </choice>
      </element>
    </define>
    <define name="preferred">
      <element name="preferred">
        <ref name="ZhEnLocalizedString"/>
      </element>
    </define>
    <define name="admitted">
      <element name="admitted">
        <ref name="ZhEnLocalizedString"/>
      </element>
    </define>
    <define name="deprecates">
      <element name="deprecates">
        <ref name="ZhEnLocalizedString"/>
      </element>
    </define>
    <define name="term">
      <element name="term">
        <optional>
          <attribute name="id">
            <data type="ID"/>
          </attribute>
        </optional>
        <oneOrMore>
          <ref name="preferred"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="admitted"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="deprecates"/>
        </zeroOrMore>
        <optional>
          <ref name="termdomain"/>
        </optional>
        <ref name="definition"/>
        <zeroOrMore>
          <ref name="termnote"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="termexample"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="termsource"/>
        </zeroOrMore>
      </element>
    </define>
  </include>
  <!-- identical structure to iso-standard -->
  <define name="gb-standard">
    <element name="gb-standard">
      <ref name="bibdata"/>
      <optional>
        <ref name="version"/>
      </optional>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ZhEnLocalizedString">
    <!-- multiple languages and scripts possible: comma delimit them if so -->
    <attribute name="language">
      <choice>
        <value>zh</value>
        <value>en</value>
      </choice>
    </attribute>
    <optional>
      <attribute name="script">
        <choice>
          <value>Hans</value>
          <value>Latn</value>
        </choice>
      </attribute>
    </optional>
    <text/>
  </define>
</grammar>
