grammars/gbstandard.rnc

# default namespace = "http://riboseinc.com/gbstandard"

# Currently we inherit from a namespaced grammar, isostandard. Unless we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csd additions. And we do not want that.

include "isostandard.rnc" {
  
start = gb-standard

language = element language { ( "zh" | "en" ) }

script = element script { ( "Hans" | "Latn" ) }

preferred =
  element preferred { ZhEnLocalizedString }

admitted =
  element admitted { ZhEnLocalizedString }

deprecates =
  element deprecates { ZhEnLocalizedString }

term =
  element term {
    attribute id { xsd:ID }?,
    preferred+, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource*
  }

BibliographicItem =
    attribute type { BibItemType }?,
    (btitle+ | formattedref), source?, docidentifier*, bdate*, contributor*,
    edition?,
    biblionote*, partof*, language*, script*, abstract?, status?, copyright?,
  editorialgroup?, gbcommittee?, gbequivalence?, gbtype?, gblibraryids?

BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, source?, docidentifier*, bdate*, contributor*,
    edition?,
    biblionote*, partof*, language*, script*, abstract?, status?, copyright,
  editorialgroup?, gbcommittee, gbequivalence?, gbtype, gblibraryids?


}

# identical structure to iso-standard
gb-standard =
  element gb-standard {
    bibdata, version?, foreword, introduction?, sections+, annex*, references+
  }     

gblibraryids = 
  element gblibraryids {
    gblibraryidics, gblibraryidl
  }

gblibraryidics = element ics { text }
gblibraryidl = element l { text }
    
gbequivalence =
  element gbequivalence { ( "equivalent" | "identical" | "nonequivalent" ) }

gbcommittee =
  element gbcommittee {
    attribute type { ( "technical" | "provisional" ) },
    text
}

gbtype =
  element gbtype {
    gbscope, gbprefix, gbmandate
}

gbscope = element gbscope { ( "national" | "sector" | "professional" | "local" | "enterprise" ) }
gbmandate = element gbmandate { ( "mandatory" | "recommended" | "guidelines" ) }
gbprefix = element gbprefix { text }

ZhEnLocalizedString =
  # multiple languages and scripts possible: comma delimit them if so
  attribute language { ( "zh" | "en" ) },
  attribute script { ( "Hans" | "Latn" ) }?,
  text

