grammars/gbstandard.rnc

# default namespace = "http://riboseinc.com/gbstandard"

# Currently we inherit from a namespaced grammar, isostandard. Unless we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csd additions. And we do not want that.

include "isostandard.rnc" {
  
start = gb-standard

language = element language { ( "zh" | "en" ) }

script = element script { ( "Hans" | "Latn" ) }

preferred =
  element preferred { ZhEnLocalizedString }

admitted =
  element admitted { ZhEnLocalizedString }

deprecates =
  element deprecates { ZhEnLocalizedString }

term =
  element term {
    attribute id { xsd:ID }?,
    preferred+, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource*
  }

BibliographicItem =
    attribute type { BibItemType }?,
    (btitle+ | formattedref), source?, docidentifier*, bdate*, contributor*,
    edition?, biblionote*, partof*, language*, script*, abstract?, status?, copyright?,
    docrelation*, editorialgroup?, gbcommittee*, gbtype?, gbccs+, gbplannumber?

BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, source?, docidentifier*, bdate*, contributor*, edition?,
    biblionote*, partof*, language*, script*, abstract?, status?, copyright,
    docrelation*, editorialgroup?, gbcommittee+, gbtype, gbccs*, gbplannumber?

}

# identical structure to iso-standard
gb-standard =
  element gb-standard {
    bibdata, version?, preface, sections+, annex*, bibliography
  }     

gbccs = element ccs { text }

gbplannumber = element plannumber { text }
    
gbcommittee =
  element gbcommittee {
    attribute type { ( "technical" | "provisional" | "drafting" ) },
    text
}

gbtype =
  element gbtype {
    gbscope, gbprefix, gbmandate, gbtopic
}

gbscope = element gbscope { ( "national" | "sector" | "professional" | "local" | "enterprise" ) }
gbmandate = element gbmandate { ( "mandatory" | "recommended" | "guidelines" ) }
gbprefix = element gbprefix { text }
gbtopic = element gbtopic { "basic" | "health-and-safety" | "environment-protection" | "engineering-and-construction" | "product" | "method" | "management-techniques" | "other" }

ZhEnLocalizedString =
  # multiple languages and scripts possible: comma delimit them if so
  attribute language { ( "zh" | "en" ) },
  attribute script { ( "Hans" | "Latn" ) }?,
  text

