grammars/gbstandard.rnc

# default namespace = "http://riboseinc.com/gbstandard"

# Currently we inherit from a namespaced grammar, isostandard. Unless we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csd additions. And we do not want that.

include "isostandard.rnc" {
  
start = gb-standard

language = element language { ( "zh" | "en" ) }

script = element script { ( "Hans" | "Latn" ) }

preferred =
  element preferred { ZhEnLocalizedString }

admitted =
  element admitted { ZhEnLocalizedString }

deprecates =
  element deprecates { ZhEnLocalizedString }

term =
  element term {
    attribute id { xsd:ID }?,
    preferred+, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource*
  }

}

# identical structure to iso-standard
gb-standard =
  element gb-standard {
    bibdata, version?, sections+
  }     
    


ZhEnLocalizedString =
  # multiple languages and scripts possible: comma delimit them if so
  attribute language { ( "zh" | "en" ) },
  attribute script { ( "Hans" | "Latn" ) }?,
  text

