grammars/iec.rnc

#default namespace = "https://www.metanorma.com/ns/iec"

include "isostandard.rnc" {

start = iec-standard

DocumentType =
     "international-standard" | "technical-specification" |
     "technical-report" | "publicly-available-specification" |
    "international-workshop-agreement" | "guide"

BibDataExtensionType =
        doctype, horizontal?, function?, editorialgroup, ics*, structuredidentifier, 
        stagename?, updates_document_type?, accessibility-color-inside?

}

# end overrides

function = element function { "emc" | "safety" | "environment" | "quality-assurance" }
horizontal = element horizontal { xsd:boolean }
accessibility-color-inside = element accessibility-color-inside { xsd:boolean }

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
iec-standard = 
  element iec-standard {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
  }

