grammars/iec.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- default namespace = "https://www.metanorma.com/ns/iec" -->
  <include href="isostandard.rng">
    <start>
      <ref name="iec-standard"/>
    </start>
    <define name="DocumentType">
      <choice>
        <value>international-standard</value>
        <value>technical-specification</value>
        <value>technical-report</value>
        <value>publicly-available-specification</value>
        <value>international-workshop-agreement</value>
        <value>guide</value>
      </choice>
    </define>
    <define name="BibDataExtensionType">
      <ref name="doctype"/>
      <optional>
        <ref name="docsubtype"/>
      </optional>
      <ref name="editorialgroup"/>
      <zeroOrMore>
        <ref name="ics"/>
      </zeroOrMore>
      <ref name="structuredidentifier"/>
      <optional>
        <ref name="stagename"/>
      </optional>
      <optional>
        <ref name="updates_document_type"/>
      </optional>
    </define>
  </include>
  <!-- end overrides -->
  <define name="docsubtype">
    <element name="docsubtype">
      <choice>
        <value>emc</value>
        <value>safety</value>
        <value>environment</value>
        <value>quality-assurance</value>
        <value>horizontal</value>
      </choice>
    </element>
  </define>
  <!--
    We display the Normative References between scope and terms; but to keep the
    grammar simple, we keep the references together
  -->
  <define name="iec-standard">
    <element name="iec-standard">
      <attribute name="version"/>
      <attribute name="type">
        <choice>
          <value>semantic</value>
          <value>presentation</value>
        </choice>
      </attribute>
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <optional>
        <ref name="boilerplate"/>
      </optional>
      <ref name="preface"/>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
    </element>
  </define>
</grammar>
