grammars/ieee.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isodoc.rnc" {

start = ieee-standard

DocumentType =
"policy-and-procedures" | "best-practices" | "supporting-document" | "report" | "legal" | "directives" | "proposal" | 
        "standard" 

editorialgroup = element editorialgroup {
  committee+
}

BibDataExtensionType =
    doctype?, docsubtype?, editorialgroup, ics*
}

committee = element committee { 
    text
}

ieee-standard =
  element ieee-standard {
attribute version { text },
  attribute type { "semantic" | "presentation" },
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
 }

