grammars/ietf.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for ietf additions. And we do not want that.

include "isostandard.rnc" {

start = ietf-standard

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

DocumentType = "rfc" | "internet-draft"

editorialgroup = element editorialgroup {
  committee+
}

BibDataExtensionType =
    doctype?, ics*,
    ipr?, iprExtract?, submissiontype?, area*, bkeyword*, consensus?

bkeyword = element keyword { text }

contact =
  ( address | phone | fax | email | uri )

fullname =
  element name {
    (( prefix*, forename*, initial*, surname, addition* ) | completeName |
    ( prefix*, forename*, initial*, surname, addition*, completeName )),
    biblionote*
}


}

TextElement |= iref | comment

fax = element fax { text }
consensus = element consensus { xsd:boolean }
area = element area { "art" | "gen" | "int" | "ops" | "rtg" | "sec" | "tsv" }
abbrevtitle = element abbrevtitle { text }
ipr = element ipr { text }
iprExtract = element iprExtract { text }
submissiontype = element submissiontype { text }

committee = element technical-committee { text }

iref = element iref {
  attribute item { text },
  attribute subitem { text }?,
  text?
}

comment = element comment { text }

ietf-standard =
  element ietf-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
 }

