grammars/iho.rnc

include "relaton-iho.rnc" {}
include "isodoc.rnc" {

annex =
  element annex {
    Annex-Section-Attributes,
    section-title?,
    ( ( BasicBlock* ),
      (annex-subsection | terms | definitions | references)* ),
      annex-appendix*
}

standard-document =
  element metanorma {
    Root-Attributes,
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
 }  

}

annex-appendix =
  element appendix { Clause-Section }


