grammars/isodoc.rnc

# instantiations of this grammar may replace leaf strings
# with more elaborated types; e.g. title (text) replaced with
# title-main, title-intro, title-part; type replaced with
# enum.
#
# some renaming at leaf nodes is permissible
#
# obligations can change both from optional to mandatory,
# and from mandatory to optional; optional elements may
# be omitted; freely positioned alternatives may be replaced
# with strict ordering
#
# DO NOT introduce a namespace here. We do not want a distinct namespace
# for these elements, and a distinct namespace for any grammar inheriting
# these elements; we just want one namespace for any child grammars
# of this.

grammar {

include "reqt.rnc" { }

#include "biblio.rnc" { }

include "basicdoc.rnc" { 

start = standard-document

doctype = element doctype { 
    attribute abbreviation { text }?,
    DocumentType 
}

hyperlink =
  element link {
    attribute target { xsd:anyURI },
    attribute type { ReferenceFormat }?,
    attribute alt { text }?,
    text
}

xref =
  element xref {
     attribute target { xsd:string { pattern = "\i\c*|\c+#\c+" }},
     attribute to { xsd:string { pattern = "\i\c*|\c+#\c+" }}?,
     attribute type { ReferenceFormat }?,
     attribute alt { text }?,
     attribute case { "capital" | "lowercase" }?,
     attribute droploc { xsd:boolean }?,
     text
}

erefType =
    attribute normative { xsd:boolean }?,
    attribute citeas { text },
    attribute type { ReferenceFormat },
    attribute alt { text }?,
    attribute case { "capital" | "lowercase" }?,
    attribute droploc { xsd:boolean }?,
    CitationType,
    text

ul =
  element ul {
    attribute id { xsd:ID },
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    ul_li+, note*
}

ol =
  element ol {
    attribute id { xsd:ID },
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute type { ( "roman" | "alphabet" | "arabic" |
                       "roman_upper" | "alphabet_upper" ) },
    li+, note*
}

dl =
  element dl {
    attribute id { xsd:ID },
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute key { xsd:boolean }?,
    (dt, dd)+, note*
}


example =
  element example {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute subsequence { text }?,
    attribute number { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    tname?,
    ( formula | ul | ol | dl | quote | sourcecode | paragraph-with-footnote | figure )+,
    note*
}

table =
  element table {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute alt { text }?,
    attribute summary { text }?,
    attribute uri { xsd:anyURI }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute width { text }?,
    colgroup?, tname?, thead?, tbody, tfoot?, table-note*, dl?
  }

figure =
  element figure {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute class { text }?,
     source?, tname?, (image | video | audio | pre | paragraph-with-footnote+ | figure*), fn*, dl?, note*
  }

sourcecode =
  element sourcecode {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute lang { text }?,
    tname?, ( text | callout )+, annotation*, note*
  }

formula =
  element formula {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute inequality { xsd:boolean }?,
    stem, dl?, note*
}

ParagraphType =
    attribute id { xsd:ID },
    attribute align { Alignments }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
   ( TextElement )*, note*

paragraph-with-footnote =
  element p {
    attribute id { xsd:ID },
    attribute align { Alignments }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
   ( TextElement | fn  )*, note*
}

quote =
  element quote {
    attribute id { xsd:ID },
    attribute alignment { Alignments }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    quote-source?,
    quote-author?,
    paragraph-with-footnote+,
    note*
}

BibDataExtensionType = 
  doctype,
  editorialgroup?,
  ics*,
  structuredidentifier*

# TitleType = text

sections =
  element sections {
    ( clause | terms | term-clause | definitions)+
}

references =
  element references {
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    attribute normative { xsd:boolean },
    section-title?,
    BasicBlock*, note*,
    (bibitem, note*)*,
    references*
}

note = element note {
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    attribute type { text }?,
    (paragraph | ul | ol | dl | formula | quote | sourcecode)+
}

Basic-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (BasicBlock+, note*)

li =
  element li {
    attribute id { xsd:ID }?,
    BasicBlock+
    # exclude figures?
  }

dd =
  element dd {
    # exclude figures?
    BasicBlock*
  }

thead = element thead { tr+ }

td =
  element td {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    attribute valign { "top" | "middle" | "bottom" | "baseline" }?,
    (
      (TextElement | fn )* |
      (paragraph-with-footnote | dl | ul | ol | figure)+
    )
}

th =
  element th {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    attribute valign { "top" | "middle" | "bottom" | "baseline" }?,
    (
      (TextElement | fn )* |
      paragraph-with-footnote+
    )
}

table-note = element note {
    attribute id { xsd:ID }?,
 paragraph
}

}

# end overrides

colgroup = element colgroup { col+ }

col = element col {
    attribute width { text }
}

BibItemType |= "internal"

TextElement |= concept

concept = element concept {
  attribute term { text }?,
  ( eref | xref | termref )
}

BasicBlock |= requirement | recommendation | permission | imagemap | svgmap

bibliography =
  element bibliography {
    (references | reference-clause)+
}

reference-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute number { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    BasicBlock*, note*,
    (
       reference-clause+ | references*
    )
}

editorialgroup = element editorialgroup {
  technical-committee+
}

technical-committee =
  element technical-committee { IsoWorkgroup }

IsoWorkgroup =
    attribute number { xsd:int }?,
    attribute type { text }?,
    text

ics = element ics {
  element code { text },
  element text { text }?
}

standard-document =
element standard-document {
  attribute version { text },
  attribute type { "semantic" | "presentation" },
  bibdata, misccontainer?, boilerplate?, preface?, sections, annex*, bibliography?, indexsect*
}

misccontainer = element misc-container { AnyElement+ }

preface =
  element preface { ( content | abstract | foreword | introduction | acknowledgements)+ }

foreword =
  element foreword { Content-Section }

introduction =
  element introduction { Content-Section }

indexsect = element indexsect { Content-Section }

boilerplate = 
  element boilerplate { copyright-statement?, license-statement?, legal-statement?, feedback-statement? }

copyright-statement =
  element copyright-statement { Content-Section }

license-statement =
  element license-statement { Content-Section }

legal-statement =
  element legal-statement { Content-Section }

feedback-statement =
  element feedback-statement { Content-Section }

definitions =
  element definitions {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute type { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (BasicBlock*, note*,
    dl)+
}

content =
  element clause { Content-Section }

abstract =
  element abstract { Content-Section }

acknowledgements =
  element acknowledgements { Content-Section }

content-subsection =
  element clause { Content-Section }

Content-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    attribute number { text }?,
    attribute type { text }?,
    section-title?,
    ( (BasicBlock*, note*),
      content-subsection* )

clause =
  element clause { Clause-Section }

Clause-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    attribute type { text }?,
    attribute number { text }?,
    section-title?,
    (
      ( (  BasicBlock*, note* ) | amend ),
       (clause-subsection | terms | definitions)*
    )

Annex-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
      ( BasicBlock*, note* ),
       (annex-subsection | terms | definitions | references )*
    )

clause-subsection =
  element clause { Clause-Section }

annex-subsection =
  element clause { Annex-Section }

annex =
  element annex { Annex-Section }       

terms =
  element terms {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute type { text }?,
    attribute number { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    BasicBlock*, note*,
    (term+ | ( terms*, definitions?) )
  }

term =
  element term {
    attribute id { xsd:ID }?,
    preferred+, admitted*, related*, deprecates*,
    termdomain?, termgrammar*, definition, termnote*, termexample*, termsource*
  }

preferred =
  element preferred { TextElement+ }

admitted =
  element admitted { TextElement+ }

related = 
  element related {
    attribute type { "compare" | "contrast" | "see" }?,
    TextElement+
}

deprecates =
  element deprecates { TextElement+ }

termdomain =
  element domain { TextElement+ }

termgrammar =
  element grammar { TextElement+ }

definition =
  element definition {
    ( paragraph | figure | formula )+
  }

termnote =
  element termnote { 
    attribute id { xsd:ID },
    attribute unnumbered { xsd:boolean }?,
    attribute number { text }?,
    attribute subsequence { text }?,
    attribute keep-with-next { xsd:boolean }?,
    attribute keep-lines-together { xsd:boolean }?,
    (paragraph | ul | ol | dl | formula)+
}

termexample =
  element termexample { 
    attribute id { xsd:ID },
paragraph }

termsource =
  element termsource {
    attribute status { ( "identical" | "modified" ) },
    origin, modification?
}

origin =
  element origin { erefType | termref }

modification =
  element modification { paragraph }

termref = element termref {
  attribute base { text },
  attribute target { text },
  text?
}

structuredidentifier = element structuredidentifier {
  attribute type { text }?,
  element agency { text }+,
  element class { text }?,
  element docnumber { text },
  element partnumber { text }?,
  element edition { text }?,
  element version { text }?,
  element supplementtype { text }?,
  element supplementnumber { text }?,
  element language { text }?,
  element year { text }?
}

term-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    BasicBlock*, note*,
    (
       (term-clause | terms | definitions)*
    )
}

termdocsource =
  element termdocsource { CitationType }

amend = 
  element amend {
    attribute id { xsd:ID }?,
    attribute change { "add" | "modify" | "delete" | "replace" },
    attribute path { text }?,
    attribute path_end { text }?,
    attribute title { text }?,
    element location { locality* }?,
    autonumber*,
    element description { BasicBlock* }?,
    element newcontent { 
        attribute id { xsd:ID }?,
        BasicBlock* }?,
    element description { BasicBlock* }?
}

autonumber =
  element autonumber {
    attribute type { "requirement" | "recommendation" | "permission" | "table" | "figure" | "admonition" | "formula" | "sourcecode" | "example" | "note" },
    text
}

imagemap = element imagemap {
  figure, 
  element area {
    attribute type { "rect" | "circle" | "ellipse" | "poly" },
    ( xref | hyperlink | eref ),
    element coords {
      attribute x { xsd:float },
      attribute y { xsd:float }
    }+,
    element radius {
      attribute x { xsd:float },
      attribute y { xsd:float }?
    }?
  }*
}

svgmap = element svgmap {
  figure,
  element target {
     attribute href { xsd:anyURI },
    ( xref | hyperlink | eref )
  }*
}

ul_li =
  element li {
    attribute id { xsd:ID }?,
    attribute uncheckedcheckbox { xsd:boolean }?,
    attribute checkedcheckbox { xsd:boolean }?,
    BasicBlock+
}


}
