grammars/isodoc.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  instantiations of this grammar may replace leaf strings
  with more elaborated types; e.g. title (text) replaced with
  title-main, title-intro, title-part; type replaced with
  enum.
  
  some renaming at leaf nodes is permissible
  
  obligations can change both from optional to mandatory,
  and from mandatory to optional; optional elements may
  be omitted; freely positioned alternatives may be replaced
  with strict ordering
  
  DO NOT introduce a namespace here. We do not want a distinct namespace
  for these elements, and a distinct namespace for any grammar inheriting
  these elements; we just want one namespace for any child grammars
  of this.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="reqt.rng"/>
  <include href="basicdoc.rng">
    <define name="amend">
      <element name="amend">
        <ref name="BlockAttributes"/>
        <ref name="AmendType"/>
        <zeroOrMore>
          <ref name="autonumber"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="AdmonitionAttr">
      <attribute name="type">
        <ref name="AdmonitionType"/>
      </attribute>
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="uri">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="coverpage">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notag">
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="AdmonitionType">
      <choice>
        <value>warning</value>
        <value>note</value>
        <value>tip</value>
        <value>important</value>
        <value>caution</value>
        <value>statement</value>
        <value>editorial</value>
        <value>box</value>
      </choice>
    </define>
    <define name="index">
      <element name="index">
        <optional>
          <attribute name="to">
            <data type="IDREF"/>
          </attribute>
        </optional>
        <element name="primary">
          <oneOrMore>
            <choice>
              <ref name="PureTextElement"/>
              <ref name="stem"/>
            </choice>
          </oneOrMore>
        </element>
        <optional>
          <element name="secondary">
            <oneOrMore>
              <choice>
                <ref name="PureTextElement"/>
                <ref name="stem"/>
              </choice>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="tertiary">
            <oneOrMore>
              <choice>
                <ref name="PureTextElement"/>
                <ref name="stem"/>
              </choice>
            </oneOrMore>
          </element>
        </optional>
      </element>
    </define>
    <define name="section-title">
      <a:documentation>Title(s) of a clause</a:documentation>
      <element name="title">
        <a:documentation>Title proper for a clause</a:documentation>
        <zeroOrMore>
          <ref name="TextElement"/>
        </zeroOrMore>
      </element>
      <zeroOrMore>
        <element name="variant-title">
          <a:documentation>Alternate title for a clause</a:documentation>
          <ref name="TypedTitleString"/>
        </element>
      </zeroOrMore>
    </define>
    <define name="hyperlink">
      <element name="link">
        <attribute name="target">
          <data type="anyURI"/>
        </attribute>
        <optional>
          <attribute name="type">
            <ref name="ReferenceFormat"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="alt"/>
        </optional>
        <optional>
          <attribute name="update-type">
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="style"/>
        </optional>
        <oneOrMore>
          <ref name="PureTextElement"/>
        </oneOrMore>
      </element>
    </define>
    <define name="xref">
      <element name="xref">
        <ref name="XrefAttributes"/>
        <ref name="XrefBody"/>
      </element>
    </define>
    <define name="erefType">
      <optional>
        <attribute name="normative">
          <data type="boolean"/>
        </attribute>
      </optional>
      <attribute name="citeas"/>
      <optional>
        <attribute name="type">
          <ref name="ReferenceFormat"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="case">
          <choice>
            <value>capital</value>
            <value>lowercase</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="droploc">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <ref name="CitationType"/>
      <oneOrMore>
        <ref name="PureTextElement"/>
      </oneOrMore>
    </define>
    <define name="UlAttr">
      <ref name="BlockAttributes"/>
    </define>
    <define name="UlBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <ref name="ul_li"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="OlBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <ref name="li"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="OlAttr">
      <ref name="BlockAttributes"/>
      <optional>
        <attribute name="type">
          <choice>
            <value>roman</value>
            <value>alphabet</value>
            <value>arabic</value>
            <value>roman_upper</value>
            <value>alphabet_upper</value>
          </choice>
        </attribute>
      </optional>
    </define>
    <define name="DlAttr">
      <ref name="BlockAttributes"/>
      <optional>
        <attribute name="key">
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="DlBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <ref name="dt"/>
        <ref name="dd"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="dt">
      <element name="dt">
        <ref name="OptionalId"/>
        <zeroOrMore>
          <ref name="TextElement"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="ExampleAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="ExampleBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="formula"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="paragraph-with-footnote"/>
          <ref name="figure"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="TableAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="alt"/>
      </optional>
      <optional>
        <attribute name="summary"/>
      </optional>
      <optional>
        <attribute name="uri">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="TableBody">
      <optional>
        <ref name="colgroup"/>
      </optional>
      <optional>
        <ref name="tname"/>
      </optional>
      <optional>
        <ref name="thead"/>
      </optional>
      <ref name="tbody"/>
      <optional>
        <ref name="tfoot"/>
      </optional>
      <optional>
        <ref name="dl"/>
      </optional>
      <zeroOrMore>
        <ref name="table-note"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="source"/>
      </zeroOrMore>
    </define>
    <define name="FigureAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="width"/>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="FigureBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <choice>
        <ref name="image"/>
        <ref name="video"/>
        <ref name="audio"/>
        <ref name="pre"/>
        <oneOrMore>
          <ref name="paragraph-with-footnote"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="figure"/>
        </zeroOrMore>
      </choice>
      <zeroOrMore>
        <ref name="fn"/>
      </zeroOrMore>
      <optional>
        <ref name="dl"/>
      </optional>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="source"/>
      </zeroOrMore>
    </define>
    <define name="source">
      <element name="source">
        <attribute name="status">
          <ref name="SourceStatusType"/>
        </attribute>
        <ref name="origin"/>
        <optional>
          <ref name="modification"/>
        </optional>
      </element>
    </define>
    <define name="SourceAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="lang">
          <ref name="LanguageType"/>
        </attribute>
      </optional>
      <ref name="BlockAttributes"/>
      <optional>
        <attribute name="linenums">
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="SourceBody">
      <optional>
        <ref name="tname"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="callout"/>
          <ref name="xref"/>
          <ref name="eref"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annotation"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="note"/>
      </zeroOrMore>
    </define>
    <define name="FormulaAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="inequality">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="ParagraphAttrs">
      <optional>
        <attribute name="align">
          <ref name="Alignments"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="QuoteAttr">
      <optional>
        <attribute name="alignment">
          <ref name="Alignments"/>
        </attribute>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <!-- TitleType = text -->
    <define name="sections">
      <element name="sections">
        <oneOrMore>
          <choice>
            <ref name="clause"/>
            <ref name="terms"/>
            <ref name="term-clause"/>
            <ref name="definitions"/>
            <ref name="floating-title"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="references">
      <a:documentation>Bibliography clause. It is used to collate references within the document, where
there could be one or more of such sections within a document. For example, some standardization documents differentiate
normative or informative references, some split references into sections organized by concept relevance.</a:documentation>
      <element name="references">
        <optional>
          <attribute name="id">
            <data type="ID"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="obligation">
            <ref name="ObligationType"/>
          </attribute>
        </optional>
        <attribute name="normative">
          <a:documentation>Whether this is a normative references section or informative (bibliography). Not the same as obligation:
Normative References contents contain normative references, but as a clause in the document, they are informative.</a:documentation>
          <data type="boolean"/>
        </attribute>
        <optional>
          <ref name="section-title"/>
        </optional>
        <zeroOrMore>
          <ref name="BasicBlock">
            <a:documentation>Prefatory text</a:documentation>
          </ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="doc_bibitem">
            <a:documentation>Bibliographic item cited in the document</a:documentation>
          </ref>
          <zeroOrMore>
            <ref name="note">
              <a:documentation>Annotation of the bibliographic item</a:documentation>
            </ref>
          </zeroOrMore>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="references"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="NoteAttr">
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="coverpage">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notag">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="BlockAttributes"/>
    </define>
    <define name="NoteBody">
      <oneOrMore>
        <choice>
          <ref name="paragraph"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="formula"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
        </choice>
      </oneOrMore>
    </define>
    <define name="Basic-Section">
      <ref name="Basic-Section-Attributes"/>
      <optional>
        <ref name="section-title"/>
      </optional>
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
    </define>
    <define name="LiBody">
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
    </define>
    <!-- exclude figures? -->
    <define name="dd">
      <element name="dd">
        <zeroOrMore>
          <!-- exclude figures? -->
          <ref name="BasicBlock"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="thead">
      <element name="thead">
        <oneOrMore>
          <ref name="tr"/>
        </oneOrMore>
      </element>
    </define>
    <define name="TdBody">
      <choice>
        <zeroOrMore>
          <choice>
            <ref name="TextElement"/>
            <ref name="fn"/>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <choice>
            <ref name="paragraph-with-footnote"/>
            <ref name="dl"/>
            <ref name="ul"/>
            <ref name="ol"/>
            <ref name="figure"/>
          </choice>
        </oneOrMore>
      </choice>
    </define>
    <define name="ThBody">
      <choice>
        <zeroOrMore>
          <choice>
            <ref name="TextElement"/>
            <ref name="fn"/>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <ref name="paragraph-with-footnote"/>
        </oneOrMore>
      </choice>
    </define>
    <define name="table-note">
      <element name="note">
        <optional>
          <attribute name="id">
            <data type="ID"/>
          </attribute>
        </optional>
        <ref name="paragraph"/>
      </element>
    </define>
    <define name="stem">
      <element name="stem">
        <attribute name="type">
          <choice>
            <value>MathML</value>
            <value>AsciiMath</value>
            <value>LatexMath</value>
          </choice>
        </attribute>
        <optional>
          <attribute name="number-format"/>
        </optional>
        <attribute name="block">
          <data type="boolean"/>
        </attribute>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="AnyElement"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="em">
      <element name="em">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
            <ref name="index"/>
            <ref name="index-xref"/>
            <ref name="eref"/>
            <ref name="erefstack"/>
            <ref name="xref"/>
            <ref name="hyperlink"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="strong">
      <element name="strong">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
            <ref name="index"/>
            <ref name="index-xref"/>
            <ref name="eref"/>
            <ref name="erefstack"/>
            <ref name="xref"/>
            <ref name="hyperlink"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="tt">
      <element name="tt">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="index"/>
            <ref name="index-xref"/>
            <ref name="eref"/>
            <ref name="erefstack"/>
            <ref name="xref"/>
            <ref name="hyperlink"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="keyword">
      <element name="keyword">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="index"/>
            <ref name="index-xref"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="strike">
      <element name="strike">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="index"/>
            <ref name="index-xref"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="underline">
      <element name="underline">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="index"/>
            <ref name="index-xref"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="smallcap">
      <element name="smallcap">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="index"/>
            <ref name="index-xref"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="sub">
      <element name="sub">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="sup">
      <element name="sup">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="pagebreak">
      <element name="pagebreak">
        <optional>
          <attribute name="orientation">
            <choice>
              <value>landscape</value>
              <value>portrait</value>
            </choice>
          </attribute>
        </optional>
      </element>
    </define>
  </include>
  <!-- end overrides -->
  <define name="LanguageType">
    <a:documentation>Two-letter language code taken from ISO-639, indicating the language in which the content is written</a:documentation>
    <text/>
  </define>
  <define name="ScriptType">
    <a:documentation>Four-letter script code taken from ISO-15924, indicating the script in which the content is written</a:documentation>
    <text/>
  </define>
  <define name="ObligationType">
    <a:documentation>The force of a clause in a standard document: whether it has normative or informative effect</a:documentation>
    <choice>
      <value>normative</value>
      <value>informative</value>
    </choice>
  </define>
  <define name="doc_bibitem">
    <element name="bibitem">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <optional>
        <attribute name="hidden">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="suppress_identifier">
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="ReducedBibliographicItem"/>
    </element>
  </define>
  <define name="image" combine="choice">
    <element name="svg">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="AnyElement"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="BasicBlock" combine="choice">
    <ref name="columnbreak"/>
  </define>
  <define name="columnbreak">
    <element name="columnbreak">
      <empty/>
    </element>
  </define>
  <define name="MultilingualRenderingType">
    <choice>
      <value>common</value>
      <value>all-columns</value>
      <value>parallel</value>
      <value>tag</value>
    </choice>
  </define>
  <define name="colgroup">
    <element name="colgroup">
      <oneOrMore>
        <ref name="col"/>
      </oneOrMore>
    </element>
  </define>
  <define name="col">
    <element name="col">
      <attribute name="width"/>
    </element>
  </define>
  <define name="BibItemType" combine="choice">
    <value>internal</value>
  </define>
  <define name="TextElement" combine="choice">
    <choice>
      <ref name="concept"/>
      <ref name="add"/>
      <ref name="del"/>
      <ref name="span"/>
      <ref name="erefstack"/>
      <ref name="date_inline"/>
    </choice>
  </define>
  <define name="PureTextElement" combine="choice">
    <ref name="passthrough_inline"/>
  </define>
  <define name="passthrough_inline">
    <element name="passthrough">
      <optional>
        <attribute name="formats"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="add">
    <element name="add">
      <choice>
        <ref name="PureTextElement"/>
        <ref name="eref"/>
        <ref name="erefstack"/>
        <ref name="stem"/>
        <ref name="keyword"/>
        <ref name="xref"/>
        <ref name="hyperlink"/>
        <ref name="index"/>
        <ref name="index-xref"/>
      </choice>
    </element>
  </define>
  <define name="del">
    <element name="del">
      <choice>
        <ref name="PureTextElement"/>
        <ref name="eref"/>
        <ref name="erefstack"/>
        <ref name="stem"/>
        <ref name="keyword"/>
        <ref name="xref"/>
        <ref name="hyperlink"/>
        <ref name="index"/>
        <ref name="index-xref"/>
      </choice>
    </element>
  </define>
  <define name="span">
    <element name="span">
      <optional>
        <attribute name="class"/>
      </optional>
      <optional>
        <attribute name="style"/>
      </optional>
      <optional>
        <attribute name="custom-charset"/>
      </optional>
      <oneOrMore>
        <ref name="TextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="date_inline">
    <element name="date">
      <attribute name="value"/>
      <optional>
        <attribute name="format"/>
      </optional>
      <optional>
        <attribute name="language">
          <ref name="LanguageType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="script">
          <ref name="ScriptType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="locale"/>
      </optional>
    </element>
  </define>
  <define name="concept">
    <a:documentation>Formally defined concept used in a standardisation document, aligned to a definition.
That concept may be defined as a term within the current document, or it may be defined externally</a:documentation>
    <element name="concept">
      <optional>
        <attribute name="bold">
          <a:documentation>Render the term in the concept in boldface</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ital">
          <a:documentation>Render the term in the concept in italics</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <a:documentation>Render a reference to a definition for the concept, e.g. "widgets (3.1)"</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="linkmention">
          <a:documentation>Hyperlink the mention of the term to the definition for the concept</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="linkref">
          <a:documentation>Hyperlink the reference for the term to the definition for the concept</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <element name="refterm">
          <a:documentation>The canonical name of the concept being defined</a:documentation>
          <zeroOrMore>
            <choice>
              <ref name="PureTextElement"/>
              <ref name="stem"/>
              <ref name="index"/>
              <ref name="index-xref"/>
            </choice>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="renderterm">
          <a:documentation>The rendering to be used for the concept</a:documentation>
          <zeroOrMore>
            <choice>
              <ref name="PureTextElement"/>
              <ref name="stem"/>
              <ref name="index"/>
              <ref name="index-xref"/>
            </choice>
          </zeroOrMore>
        </element>
      </optional>
      <choice>
        <ref name="eref">
          <a:documentation>Link to a definition of the term in a bibliographic entry</a:documentation>
        </ref>
        <ref name="erefstack">
          <a:documentation>Stack of links to a definition of the term in a bibliographic entry</a:documentation>
        </ref>
        <ref name="xref">
          <a:documentation>Link to a definition of the term in an element of the current document</a:documentation>
        </ref>
        <ref name="termref">
          <a:documentation>Link to a definition of the term in a termbase</a:documentation>
        </ref>
      </choice>
    </element>
  </define>
  <define name="BasicBlock" combine="choice">
    <choice>
      <ref name="requirement"/>
      <ref name="recommendation"/>
      <ref name="permission"/>
      <ref name="imagemap"/>
      <ref name="svgmap"/>
      <ref name="inputform"/>
      <ref name="toc"/>
      <ref name="passthrough"/>
    </choice>
  </define>
  <define name="toc">
    <element name="toc">
      <ref name="ul"/>
    </element>
  </define>
  <define name="passthrough">
    <element name="passthrough">
      <optional>
        <attribute name="formats"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="inputform">
    <element name="form">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <attribute name="name"/>
      <attribute name="action"/>
      <optional>
        <attribute name="class"/>
      </optional>
      <ref name="BlockAttributes"/>
      <zeroOrMore>
        <choice>
          <ref name="TextElement"/>
          <ref name="FormInput"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="FormInput">
    <choice>
      <ref name="input"/>
      <ref name="formlabel"/>
      <ref name="select"/>
      <ref name="textarea"/>
    </choice>
  </define>
  <define name="InputType">
    <choice>
      <value>button</value>
      <value>checkbox</value>
      <value>date</value>
      <value>file</value>
      <value>password</value>
      <value>radio</value>
      <value>submit</value>
      <value>text</value>
    </choice>
  </define>
  <define name="input">
    <element name="input">
      <attribute name="type">
        <ref name="InputType"/>
      </attribute>
      <optional>
        <attribute name="checked">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="disabled">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="readonly">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxlength">
          <data type="int"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minlength">
          <data type="int"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="formlabel">
    <element name="label">
      <attribute name="for">
        <data type="IDREF"/>
      </attribute>
      <zeroOrMore>
        <ref name="PureTextElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="select">
    <element name="select">
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="disabled">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="multiple">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="size">
          <data type="int"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="option"/>
      </oneOrMore>
    </element>
  </define>
  <define name="option">
    <element name="option">
      <optional>
        <attribute name="disabled">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <zeroOrMore>
        <ref name="PureTextElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="textarea">
    <element name="textarea">
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="value"/>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rows">
          <data type="int"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="cols">
          <data type="int"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="bibliography">
    <element name="bibliography">
      <oneOrMore>
        <choice>
          <ref name="references"/>
          <ref name="reference-clause"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="Section-Attributes">
    <ref name="Basic-Section-Attributes"/>
    <optional>
      <attribute name="inline-header">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="number">
        <a:documentation>Value of number to be used for numbering of section, overriding any autonumbering in rendering.
The section number is still formed by appending this number to the hierarchical set of parent section numbers,
e.g. a number "3a" under Clause 1 subclause 2 will be numbered as 1.2.3a.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="branch-number">
        <a:documentation>Value of number to be used for numbering of section, overriding any autonumbering in rendering,
and the hierarchy of parent section numbers. This attribute is mutually exclusive with `number`.
So under Clause 1 subclause 2, sub-subclause 3 is numbered as 1.2.3. If the following sub-subclause
is given a branch-number "7.2.1.5", that will be the overall section number given, ignoring the parent section
numbers.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="unnumbered">
        <a:documentation>Do not apply numbering to this clause</a:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="Basic-Section-Attributes">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="language">
        <ref name="LanguageType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="script">
        <ref name="ScriptType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="obligation">
        <ref name="ObligationType"/>
      </attribute>
    </optional>
  </define>
  <define name="reference-clause">
    <element name="clause">
      <ref name="Section-Attributes"/>
      <optional>
        <ref name="section-title"/>
      </optional>
      <zeroOrMore>
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <choice>
        <oneOrMore>
          <ref name="reference-clause"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="references"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="Root-Attributes">
    <attribute name="version">
      <a:documentation>Version number of the gem used to generate this document</a:documentation>
    </attribute>
    <attribute name="schema-version">
      <a:documentation>Version number of the schema that this document is aligned to</a:documentation>
    </attribute>
    <attribute name="type">
      <a:documentation>Type of standards document representation. "Semantic" is the core representation of content.
"Presentation" manipulates and enhances the representation for rendering needs.</a:documentation>
      <choice>
        <value>semantic</value>
        <value>presentation</value>
      </choice>
    </attribute>
  </define>
  <define name="standard-document">
    <a:documentation>Representation of a standardisation document</a:documentation>
    <element name="standard-document">
      <ref name="Root-Attributes"/>
      <ref name="bibdata">
        <a:documentation>Bibliographic description of the document itself, expressed in the Relaton model</a:documentation>
      </ref>
      <optional>
        <ref name="misccontainer">
          <a:documentation>Extension point for extraneous elements that need to be added to standards document as data</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="boilerplate">
          <a:documentation>Front matter that is repeated at the start of documents issued from an SDO, with content not specific to the document</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="preface">
          <a:documentation>Prefatory sections</a:documentation>
        </ref>
      </optional>
      <ref name="sections">
        <a:documentation>Main body of document</a:documentation>
      </ref>
      <zeroOrMore>
        <ref name="annex">
          <a:documentation>Annex sections</a:documentation>
        </ref>
      </zeroOrMore>
      <optional>
        <ref name="bibliography">
          <a:documentation>Bibliographic sections</a:documentation>
        </ref>
      </optional>
      <zeroOrMore>
        <ref name="indexsect">
          <a:documentation>Index of the document</a:documentation>
        </ref>
      </zeroOrMore>
      <optional>
        <ref name="colophon">
          <a:documentation>Colophon or postface material</a:documentation>
        </ref>
      </optional>
    </element>
  </define>
  <define name="misccontainer">
    <a:documentation>Elements added to metanorma-extension are open-ended, and constitute source data</a:documentation>
    <element name="metanorma-extension">
      <oneOrMore>
        <ref name="AnyElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="preface">
    <element name="preface">
      <oneOrMore>
        <choice>
          <ref name="content"/>
          <ref name="abstract"/>
          <ref name="foreword"/>
          <ref name="introduction"/>
          <ref name="acknowledgements"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="colophon">
    <element name="colophon">
      <oneOrMore>
        <ref name="content"/>
      </oneOrMore>
    </element>
  </define>
  <define name="foreword">
    <a:documentation>Foreword of document</a:documentation>
    <element name="foreword">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="introduction">
    <a:documentation>Introduction of document</a:documentation>
    <element name="introduction">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="indexsect">
    <element name="indexsect">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="boilerplate">
    <a:documentation>Content addressing legal and licensing concerns around the document, outside of the main flow of document content</a:documentation>
    <element name="boilerplate">
      <optional>
        <ref name="copyright-statement">
          <a:documentation>Preset templated text provided by the standardization body, describing the copyright status of the document</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="license-statement">
          <a:documentation>Preset templated text provided by the standardization body, providing the licensing terms for the document content</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="legal-statement">
          <a:documentation>Preset templated text provided by the standardization body, providing the legal constraints and considerations around use of the document</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="feedback-statement">
          <a:documentation>Preset templated text provided by the standardization body, providing information on where feedback on the document may be addressed to</a:documentation>
        </ref>
      </optional>
    </element>
  </define>
  <define name="copyright-statement">
    <element name="copyright-statement">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="license-statement">
    <element name="license-statement">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="legal-statement">
    <element name="legal-statement">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="feedback-statement">
    <element name="feedback-statement">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="definitions">
    <a:documentation>One or more definition lists, used to define symbols and abbreviations used in the remainder of the document.
These can also be used as glossaries, with simple definitions, in contrast to the more elaborate definitions given in
terms sections </a:documentation>
    <element name="definitions">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language">
          <ref name="LanguageType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="script">
          <ref name="ScriptType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="obligation">
          <ref name="ObligationType"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <oneOrMore>
        <zeroOrMore>
          <ref name="BasicBlock">
            <a:documentation>Prefatory material, may be specific to each definition list</a:documentation>
          </ref>
        </zeroOrMore>
        <ref name="dl">
          <a:documentation>Definition list containing symbols and abbreviations</a:documentation>
        </ref>
      </oneOrMore>
    </element>
  </define>
  <define name="content">
    <element name="clause">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="abstract">
    <a:documentation>Abstract of a document, presented as a clause</a:documentation>
    <element name="abstract">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="acknowledgements">
    <a:documentation>Acknowledgements of a document, presented as a clause</a:documentation>
    <element name="acknowledgements">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="content-subsection">
    <element name="clause">
      <ref name="Content-Section"/>
    </element>
  </define>
  <define name="Content-Section">
    <a:documentation>Unnumbered clause with no semantic specialisation, used in preface of document</a:documentation>
    <ref name="Section-Attributes"/>
    <optional>
      <attribute name="type"/>
    </optional>
    <optional>
      <ref name="section-title"/>
    </optional>
    <group>
      <zeroOrMore>
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="content-subsection"/>
      </zeroOrMore>
    </group>
  </define>
  <define name="clause">
    <element name="clause">
      <ref name="Clause-Section"/>
    </element>
  </define>
  <define name="Clause-Section">
    <a:documentation>Strictly hierarchical clause: all textual content belongs in a strict clause hierarchy. such that no blocks of text
are siblings to subclauses (hanging paragraphs)</a:documentation>
    <ref name="Section-Attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation>Semantic class of the clause, e.g. "scope"</a:documentation>
      </attribute>
    </optional>
    <optional>
      <ref name="section-title"/>
    </optional>
    <choice>
      <choice>
        <oneOrMore>
          <a:documentation>Block content, mutually exclusive  with subclauses</a:documentation>
          <ref name="BasicBlock"/>
        </oneOrMore>
        <ref name="amend">
          <a:documentation>Specification of machine-readable change outlined in this section,
used in document amendments</a:documentation>
        </ref>
      </choice>
      <oneOrMore>
        <choice>
          <a:documentation>Subclauses, can include terms and definitions</a:documentation>
          <ref name="clause-subsection"/>
          <ref name="terms"/>
          <ref name="definitions"/>
          <ref name="floating-title"/>
        </choice>
      </oneOrMore>
    </choice>
  </define>
  <define name="Annex-Section">
    <a:documentation>Clause constituting an annex or appendix</a:documentation>
    <ref name="Annex-Section-Attr"/>
    <ref name="Annex-Section-Body"/>
  </define>
  <define name="Annex-Section-Attr">
    <ref name="Basic-Section-Attributes"/>
    <optional>
      <attribute name="inline-header">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type"/>
    </optional>
  </define>
  <define name="Annex-Section-Body">
    <optional>
      <ref name="section-title"/>
    </optional>
    <group>
      <zeroOrMore>
        <a:documentation>Hanging paragraphs: Annexes permit top-level blocks that are not part of a subsection</a:documentation>
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <a:documentation>Subclauses of the annex: these can include terms, definitions, and references</a:documentation>
          <ref name="annex-subsection"/>
          <ref name="terms"/>
          <ref name="definitions"/>
          <ref name="references"/>
          <ref name="floating-title"/>
        </choice>
      </zeroOrMore>
    </group>
  </define>
  <define name="clause-subsection">
    <element name="clause">
      <ref name="Clause-Section"/>
    </element>
  </define>
  <define name="annex-subsection">
    <element name="clause">
      <ref name="Annex-Section"/>
    </element>
  </define>
  <define name="annex">
    <element name="annex">
      <ref name="Annex-Section"/>
    </element>
  </define>
  <define name="terms">
    <a:documentation>Terms sections give elaborated definitions of terms used in a standardization document</a:documentation>
    <element name="terms">
      <ref name="Section-Attributes"/>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <zeroOrMore>
        <ref name="BasicBlock">
          <a:documentation>Prefatory material</a:documentation>
        </ref>
      </zeroOrMore>
      <choice>
        <oneOrMore>
          <choice>
            <ref name="term"/>
            <ref name="terms"/>
          </choice>
        </oneOrMore>
        <group>
          <zeroOrMore>
            <ref name="terms"/>
          </zeroOrMore>
          <optional>
            <ref name="definitions"/>
          </optional>
        </group>
      </choice>
    </element>
  </define>
  <define name="term">
    <a:documentation>Terminology entry with its definition</a:documentation>
    <element name="term">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="language">
          <a:documentation>Langauge in which the term entry is written</a:documentation>
          <ref name="LanguageType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="script">
          <a:documentation>Script in which the term entry is written</a:documentation>
          <ref name="ScriptType"/>
        </attribute>
      </optional>
      <ref name="BlockAttributes"/>
      <oneOrMore>
        <ref name="preferred">
          <a:documentation>One or more names under which the term being defined is canonically known</a:documentation>
        </ref>
      </oneOrMore>
      <zeroOrMore>
        <ref name="admitted">
          <a:documentation>Zero or more names which are acceptable synonyms for the term being defined</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="deprecates">
          <a:documentation>Zero or more names which are deprecated synonyms for the term being defined</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="related">
          <a:documentation>Zero or more names which are related to the term being defined. </a:documentation>
        </ref>
      </zeroOrMore>
      <optional>
        <ref name="termdomain">
          <a:documentation>An optional semantic domain for the term being defined,
 in case the term is ambiguous between several semantic domains</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="termsubject">
          <a:documentation>Subject of the term</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <ref name="termdefinition">
          <a:documentation>The definition of the term applied in the current document</a:documentation>
        </ref>
      </oneOrMore>
      <zeroOrMore>
        <ref name="termnote">
          <a:documentation>Zero or more notes about the term</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termexample">
          <a:documentation>Zero or more examples of how the term is to be used</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="termsource">
          <a:documentation>Bibliographic references for the managed term</a:documentation>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="preferred">
    <element name="preferred">
      <ref name="Designation"/>
    </element>
  </define>
  <define name="admitted">
    <element name="admitted">
      <ref name="Designation"/>
    </element>
  </define>
  <define name="related">
    <a:documentation>Term related to the current term</a:documentation>
    <element name="related">
      <attribute name="type">
        <a:documentation>Type of relation of term applicable</a:documentation>
        <ref name="RelatedTermType"/>
      </attribute>
      <element name="preferred">
        <a:documentation>Preferred designation of the term related to the current term</a:documentation>
        <ref name="Designation"/>
      </element>
      <choice>
        <ref name="eref">
          <a:documentation>Link to a definition of the term in a bibliographic entry</a:documentation>
        </ref>
        <ref name="erefstack">
          <a:documentation>Stack of links to a definition of the term in a bibliographic entry</a:documentation>
        </ref>
        <ref name="xref">
          <a:documentation>Link to a definition of the term in an element of the current document</a:documentation>
        </ref>
        <ref name="termref">
          <a:documentation>Link to a definition of the term in a termbase</a:documentation>
        </ref>
      </choice>
    </element>
  </define>
  <define name="RelatedTermType">
    <a:documentation>The relation of a term to the current term</a:documentation>
    <choice>
      <value>deprecates</value>
      <a:documentation>The current term deprecates the related term</a:documentation>
      <value>supersedes</value>
      <a:documentation>The current term supersedes the related term</a:documentation>
      <value>narrower</value>
      <a:documentation>The current term is narrower in denotation than the related term</a:documentation>
      <value>broader</value>
      <a:documentation>The current term is broader in denotation than the related term</a:documentation>
      <value>equivalent</value>
      <a:documentation>The current term is equivalent in denotation to the related term</a:documentation>
      <value>compare</value>
      <a:documentation>The current term may be compared to the related term</a:documentation>
      <value>contrast</value>
      <a:documentation>The current term is understood in contrast to the related term</a:documentation>
      <value>see</value>
      <a:documentation>For a better understanding of the current term, one should see the related term</a:documentation>
      <value>seealso</value>
      <a:documentation>For a better understanding of the current term, one should also see the related term</a:documentation>
    </choice>
  </define>
  <define name="deprecates">
    <element name="deprecates">
      <ref name="Designation"/>
    </element>
  </define>
  <define name="Designation">
    <a:documentation>A name under which a managed term is known</a:documentation>
    <optional>
      <attribute name="absent">
        <a:documentation>Indication that the term designation is missing</a:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="geographic-area">
        <a:documentation>The geographic area in which the managed term is known under this designation</a:documentation>
      </attribute>
    </optional>
    <choice>
      <ref name="expression_designation">
        <a:documentation>Realisation of a designation as a linguistic form</a:documentation>
      </ref>
      <ref name="letter_symbol_designation"/>
      <ref name="graphical_symbol_designation"/>
    </choice>
    <optional>
      <ref name="fieldofapplication">
        <a:documentation>Information about what field/domain the designation is specifically applied to</a:documentation>
      </ref>
    </optional>
    <optional>
      <ref name="usageinfo">
        <a:documentation>Information about how the designation is to be used</a:documentation>
      </ref>
    </optional>
    <zeroOrMore>
      <ref name="termsource">
        <a:documentation>Bibliographic references for this designation of the managed term</a:documentation>
      </ref>
    </zeroOrMore>
  </define>
  <define name="fieldofapplication">
    <element name="field-of-application">
      <oneOrMore>
        <ref name="PureTextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="usageinfo">
    <element name="usage-info">
      <oneOrMore>
        <ref name="PureTextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="letter_symbol_designation">
    <a:documentation>Designation realised as a letter, symbol, formula, equation</a:documentation>
    <element name="letter-symbol">
      <optional>
        <attribute name="isInternational">
          <a:documentation>Whether the designation is the same across languages, or language-specific   </a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <a:documentation>Type of symbolic designation</a:documentation>
          <ref name="LetterSymbolType"/>
        </attribute>
      </optional>
      <element name="name">
        <a:documentation>The symbolic form of the designation</a:documentation>
        <oneOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="LetterSymbolType">
    <a:documentation>The type of a symbol-like designation</a:documentation>
    <choice>
      <value>letter</value>
      <a:documentation>A letter, possibly subscripted or superscripted, intended to denote some property that it abbreviates</a:documentation>
      <value>symbol</value>
      <a:documentation>A non-letter, intended to represent some property</a:documentation>
      <value>formula</value>
      <a:documentation>A mathematical formula</a:documentation>
      <value>equation</value>
      <a:documentation>A mathematical equation (or inequation)</a:documentation>
    </choice>
  </define>
  <define name="graphical_symbol_designation">
    <a:documentation>Designation realised as a graphical symbol</a:documentation>
    <element name="graphical-symbol">
      <optional>
        <attribute name="isInternational">
          <a:documentation>Whether the designation is the same across languages, or language-specific</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <ref name="figure">
        <a:documentation>The graphical form of the designation</a:documentation>
      </ref>
    </element>
  </define>
  <define name="expression_designation">
    <a:documentation>A designation realised as a linguistic form</a:documentation>
    <element name="expression">
      <optional>
        <attribute name="language">
          <a:documentation>The language in which the designation is written</a:documentation>
          <ref name="LanguageType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="script">
          <a:documentation>The script in which the designation is written</a:documentation>
          <ref name="ScriptType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <a:documentation>The type of linguistic form used as designation</a:documentation>
          <ref name="ExpressionDesignationType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="isInternational">
          <a:documentation>Whether the designation (typically an abbreviation) is the same across languages, or language-specific</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
      <element name="name">
        <a:documentation>The textual form of the designation</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
            <ref name="index"/>
          </choice>
        </zeroOrMore>
      </element>
      <optional>
        <element name="abbreviation-type">
          <a:documentation>Type of abbreviation that constitutes the designation, according to how it is formed</a:documentation>
          <ref name="AbbreviationType"/>
        </element>
      </optional>
      <optional>
        <element name="pronunciation">
          <a:documentation>A pronunciation guide to the designation</a:documentation>
          <ref name="LocalizedString"/>
        </element>
      </optional>
      <optional>
        <element name="grammar">
          <a:documentation>Grammatical information about the designation</a:documentation>
          <ref name="Grammar"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="ExpressionDesignationType">
    <a:documentation>Type of linguistic form used as designation</a:documentation>
    <choice>
      <value>prefix</value>
      <a:documentation>The form is a prefix</a:documentation>
      <value>suffix</value>
      <a:documentation>The form is a suffix</a:documentation>
      <value>abbreviation</value>
      <a:documentation>The form is an abbreviation</a:documentation>
      <value>full</value>
      <a:documentation>The form is a self-standing linguistic expression</a:documentation>
    </choice>
  </define>
  <define name="AbbreviationType">
    <a:documentation>Type of abbreviation, according to how it is formed</a:documentation>
    <choice>
      <value>truncation</value>
      <a:documentation>Abbrevation formed by truncating constituent words</a:documentation>
      <value>acronym</value>
      <a:documentation>Abbrevation formed from the initials of its constituent words, and pronounced as a new word</a:documentation>
      <value>initialism</value>
      <a:documentation>Abbrevation formed from the initials of its constituent words, and pronounced as a sequence of letters</a:documentation>
    </choice>
  </define>
  <define name="Grammar">
    <a:documentation>Grammatical information about a designation</a:documentation>
    <zeroOrMore>
      <element name="gender">
        <a:documentation>The grammatical gender of the designation</a:documentation>
        <ref name="GrammarGender"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="number">
        <a:documentation>The grammatical number of the designation</a:documentation>
        <ref name="GrammarNumber"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="isPreposition">
        <a:documentation>The designation is a preposition</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="isParticiple">
        <a:documentation>The designation is a participle</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="isAdjective">
        <a:documentation>The designation is an adjective</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="isVerb">
        <a:documentation>The designation is a verb</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="isAdverb">
        <a:documentation>The designation is an adverb</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <optional>
      <element name="isNoun">
        <a:documentation>The designation is a noun</a:documentation>
        <data type="boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="grammar-value">
        <a:documentation>Miscellaneous grammatical information</a:documentation>
        <text/>
      </element>
    </zeroOrMore>
  </define>
  <define name="GrammarGender">
    <a:documentation>The grammatical gender of the designation</a:documentation>
    <choice>
      <value>masculine</value>
      <a:documentation>Masculine gender</a:documentation>
      <value>feminine</value>
      <a:documentation>Feminine gender</a:documentation>
      <value>neuter</value>
      <a:documentation>Neuter gender</a:documentation>
      <value>common</value>
      <a:documentation>Masculine + Feminine gender</a:documentation>
    </choice>
  </define>
  <define name="GrammarNumber">
    <a:documentation>The grammatical number of the designation</a:documentation>
    <choice>
      <value>singular</value>
      <a:documentation>Singular number</a:documentation>
      <value>dual</value>
      <a:documentation>Dual number</a:documentation>
      <value>plural</value>
      <a:documentation>Plural number</a:documentation>
    </choice>
  </define>
  <define name="termdomain">
    <element name="domain">
      <oneOrMore>
        <ref name="TextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="termsubject">
    <element name="subject">
      <oneOrMore>
        <ref name="TextElement"/>
      </oneOrMore>
    </element>
  </define>
  <define name="termdefinition">
    <a:documentation>The definition of a term applied in the current document</a:documentation>
    <element name="definition">
      <optional>
        <attribute name="type">
          <a:documentation>Type of definition, used to differentiate it from other definitions of the same term if present</a:documentation>
        </attribute>
      </optional>
      <choice>
        <ref name="verbaldefinition">
          <a:documentation>The content of the definition of the term applied in the current document</a:documentation>
        </ref>
        <ref name="nonverbalrep">
          <a:documentation>Non-verbal representation of the term applied in the current document</a:documentation>
        </ref>
        <group>
          <ref name="verbaldefinition"/>
          <ref name="nonverbalrep"/>
        </group>
      </choice>
    </element>
  </define>
  <define name="verbaldefinition">
    <element name="verbal-definition">
      <oneOrMore>
        <choice>
          <ref name="paragraph"/>
          <ref name="dl"/>
          <ref name="ol"/>
          <ref name="ul"/>
          <ref name="table"/>
          <ref name="figure"/>
          <ref name="formula"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="termsource"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="nonverbalrep">
    <a:documentation>Non-verbal representation of the term</a:documentation>
    <element name="non-verbal-representation">
      <oneOrMore>
        <choice>
          <a:documentation>Content of the non-verbal representation of the term</a:documentation>
          <ref name="table"/>
          <ref name="figure"/>
          <ref name="formula"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="termsource">
          <a:documentation>Bibliographic references for this designation of the managed term</a:documentation>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="termnote">
    <element name="termnote">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <optional>
        <attribute name="unnumbered">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="number"/>
      </optional>
      <optional>
        <attribute name="subsequence"/>
      </optional>
      <ref name="BlockAttributes"/>
      <oneOrMore>
        <choice>
          <ref name="paragraph"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="formula"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="termexample">
    <element name="termexample">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <ref name="BlockAttributes"/>
      <oneOrMore>
        <choice>
          <ref name="formula"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="paragraph"/>
          <ref name="figure"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="termsource">
    <a:documentation>The bibliographic source where a term is defined in the sense applicable in this standardisation document</a:documentation>
    <element name="termsource">
      <attribute name="status">
        <a:documentation>The status of the term as it is used in this document, relative to its definition in the original document</a:documentation>
        <ref name="SourceStatusType"/>
      </attribute>
      <attribute name="type">
        <a:documentation>The type of the managed term in the present context</a:documentation>
        <ref name="SourceTypeType"/>
      </attribute>
      <ref name="origin">
        <a:documentation>The original document and location where the term definition has been obtained from</a:documentation>
      </ref>
      <optional>
        <ref name="modification">
          <a:documentation>Any changes that the definition of the term has undergone relative to the original document,
in order to be applicable in this standardisation document</a:documentation>
        </ref>
      </optional>
    </element>
  </define>
  <define name="SourceStatusType">
    <a:documentation>The status of a term as it is used in this document, relative to its definition in the original document</a:documentation>
    <choice>
      <value>identical</value>
      <a:documentation>The managed term in the present context is identical to the term as found in the bibliographic source</a:documentation>
      <value>modified</value>
      <a:documentation>The managed term in the present context has been modified from the term as found in the bibliographic source</a:documentation>
      <value>adapted</value>
      <a:documentation>The managed term in the present context has been modified from the term as found in the bibliographic source, in order
to better fit some local requirement, though still with the intent of retaining the original meaning as much as possible</a:documentation>
      <value>restyled</value>
      <a:documentation>The managed term in the present context has been restyled from the term as found in the bibliographic source</a:documentation>
      <value>context-added</value>
      <a:documentation>The managed term in the present context has had context added to it, relative to the term as found in the bibliographic source</a:documentation>
      <value>generalisation</value>
      <a:documentation>The managed term in the present context is a generalisation of the term as found in the bibliographic source</a:documentation>
      <value>specialisation</value>
      <a:documentation>The managed term in the present context is a specialisation of the term as found in the bibliographic source</a:documentation>
      <value>unspecified</value>
      <a:documentation>The managed term in the present context is in an unspecified relation to the term as found in the bibliographic source</a:documentation>
    </choice>
  </define>
  <define name="SourceTypeType">
    <a:documentation>The type of the managed term in the present context</a:documentation>
    <choice>
      <value>authoritative</value>
      <a:documentation>The managed term is authoritative in the present context</a:documentation>
      <value>lineage</value>
      <a:documentation>The managed term constitutes lineage in the present context</a:documentation>
    </choice>
  </define>
  <define name="origin">
    <element name="origin">
      <choice>
        <ref name="erefType"/>
        <ref name="termref"/>
      </choice>
    </element>
  </define>
  <define name="modification">
    <element name="modification">
      <ref name="paragraph"/>
    </element>
  </define>
  <define name="termref">
    <element name="termref">
      <attribute name="base"/>
      <attribute name="target"/>
      <optional>
        <text/>
      </optional>
    </element>
  </define>
  <define name="term-clause">
    <element name="clause">
      <ref name="Basic-Section-Attributes"/>
      <optional>
        <attribute name="inline-header">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="section-title"/>
      </optional>
      <zeroOrMore>
        <ref name="BasicBlock"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="term-clause"/>
          <ref name="terms"/>
          <ref name="definitions"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="termdocsource">
    <element name="termdocsource">
      <ref name="CitationType"/>
    </element>
  </define>
  <define name="autonumber">
    <element name="autonumber">
      <attribute name="type">
        <choice>
          <value>requirement</value>
          <value>recommendation</value>
          <value>permission</value>
          <value>table</value>
          <value>figure</value>
          <value>admonition</value>
          <value>formula</value>
          <value>sourcecode</value>
          <value>example</value>
          <value>note</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="imagemap">
    <element name="imagemap">
      <ref name="BlockAttributes"/>
      <ref name="figure"/>
      <zeroOrMore>
        <element name="area">
          <attribute name="type">
            <choice>
              <value>rect</value>
              <value>circle</value>
              <value>ellipse</value>
              <value>poly</value>
            </choice>
          </attribute>
          <choice>
            <ref name="xref"/>
            <ref name="hyperlink"/>
            <ref name="eref"/>
            <ref name="erefstack"/>
          </choice>
          <oneOrMore>
            <element name="coords">
              <attribute name="x">
                <data type="float"/>
              </attribute>
              <attribute name="y">
                <data type="float"/>
              </attribute>
            </element>
          </oneOrMore>
          <optional>
            <element name="radius">
              <attribute name="x">
                <data type="float"/>
              </attribute>
              <optional>
                <attribute name="y">
                  <data type="float"/>
                </attribute>
              </optional>
            </element>
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="svgmap">
    <element name="svgmap">
      <ref name="BlockAttributes"/>
      <ref name="figure"/>
      <zeroOrMore>
        <element name="target">
          <attribute name="href">
            <data type="anyURI"/>
          </attribute>
          <choice>
            <ref name="xref"/>
            <ref name="hyperlink"/>
            <ref name="eref"/>
            <ref name="erefstack"/>
          </choice>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="ul_li">
    <element name="li">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="uncheckedcheckbox">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="checkedcheckbox">
          <data type="boolean"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
    </element>
  </define>
  <define name="floating-title">
    <a:documentation>A floating title, outside of the clause hierarchy of the document</a:documentation>
    <element name="floating-title">
      <attribute name="id">
        <data type="ID"/>
      </attribute>
      <attribute name="depth">
        <a:documentation>The ostensive depth of the floating title in the clause hierarchy: which level heading it should be presented as</a:documentation>
        <data type="int"/>
      </attribute>
      <zeroOrMore>
        <ref name="TextElement">
          <a:documentation>Textual content of the floating title</a:documentation>
        </ref>
      </zeroOrMore>
    </element>
  </define>
  <define name="XrefAttributes">
    <attribute name="target">
      <data type="string">
        <param name="pattern">\i\c*|\c+#\c+</param>
      </data>
    </attribute>
    <optional>
      <attribute name="to">
        <data type="string">
          <param name="pattern">\i\c*|\c+#\c+</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <ref name="ReferenceFormat"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="alt"/>
    </optional>
    <optional>
      <attribute name="case">
        <choice>
          <value>capital</value>
          <value>lowercase</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="droploc">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="style">
        <ref name="XrefStyleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="label"/>
    </optional>
  </define>
  <define name="XrefBody">
    <zeroOrMore>
      <ref name="XrefTarget"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="PureTextElement"/>
    </oneOrMore>
  </define>
  <define name="XrefConnectiveType">
    <choice>
      <value>and</value>
      <value>or</value>
      <value>from</value>
      <value>to</value>
      <value/>
    </choice>
  </define>
  <define name="XrefTarget">
    <element name="location">
      <attribute name="target">
        <data type="string">
          <param name="pattern">\i\c*|\c+#\c+</param>
        </data>
      </attribute>
      <attribute name="connective">
        <ref name="XrefConnectiveType"/>
      </attribute>
    </element>
  </define>
  <define name="XrefStyleType">
    <choice>
      <value>basic</value>
      <value>full</value>
      <value>short</value>
      <value>id</value>
      <text/>
    </choice>
  </define>
  <define name="erefTypeWithConnective">
    <optional>
      <attribute name="connective">
        <ref name="XrefConnectiveType"/>
      </attribute>
    </optional>
    <ref name="erefType"/>
  </define>
  <define name="erefstack">
    <element name="erefstack">
      <oneOrMore>
        <element name="eref">
          <ref name="erefTypeWithConnective"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="BlockAttributes">
    <optional>
      <attribute name="keep-with-next">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-lines-together">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tag">
        <a:documentation>Non-unique identifier within document. Used to align two blocks in different languages in a multilingual document</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="multilingual-rendering">
        <a:documentation>Specification of how a block element may be rendered in a multilingual document</a:documentation>
        <ref name="MultilingualRenderingType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="columns"/>
    </optional>
  </define>
  <start>
    <ref name="standard-document"/>
  </start>
</grammar>
