grammars/isodoc.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  instantiations of this grammar may replace leaf strings
  with more elaborated types; e.g. title (text) replaced with
  title-main, title-intro, title-part; type replaced with
  enum.
  
  some renaming at leaf nodes is permissible
  
  obligations can change both from optional to mandatory,
  and from mandatory to optional; optional elements may
  be omitted; freely positioned alternatives may be replaced
  with strict ordering
  
  DO NOT introduce a namespace here. We do not want a distinct namespace
  for these elements, and a distinct namespace for any grammar inheriting
  these elements; we just want one namespace for any child grammars
  of this.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="reqt.rng"/>
  <include href="basicdoc.rng">
    <define name="amend">
      <a:documentation>Block expressing a machine-readable change in a document</a:documentation>
      <element name="amend">
        <ref name="BlockAttributes"/>
        <ref name="AmendType"/>
        <zeroOrMore>
          <ref name="autonumber">
            <a:documentation>Specification of how blocks of a given class should be autonumbered within an AmendBlock newContent element</a:documentation>
          </ref>
        </zeroOrMore>
      </element>
    </define>
    <define name="fn" combine="interleave">
      <optional>
        <attribute name="hiddenref">
          <a:documentation>If true, number the footnote as normal, but suppress display of the footnote reference in the document body.
This is done if the footnote reference is already presented in some other form, e.g. within a figure image.</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="index-primary">
      <element name="primary">
        <oneOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="index-secondary">
      <element name="secondary">
        <oneOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="index-tertiary">
      <element name="tertiary">
        <oneOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="section-title">
      <a:documentation>Title(s) of a clause</a:documentation>
      <element name="title">
        <a:documentation>Title proper for a clause</a:documentation>
        <zeroOrMore>
          <ref name="TextElement"/>
        </zeroOrMore>
      </element>
      <zeroOrMore>
        <element name="variant-title">
          <a:documentation>Alternate title for a clause</a:documentation>
          <ref name="TypedTitleString"/>
        </element>
      </zeroOrMore>
    </define>
    <define name="UlBody">
      <optional>
        <ref name="tname">
          <a:documentation>Caption of list</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <ref name="ul_li">
          <a:documentation>List items</a:documentation>
        </ref>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note">
          <a:documentation>Notes whose scope is the current block</a:documentation>
        </ref>
      </zeroOrMore>
    </define>
    <define name="OlBody">
      <optional>
        <ref name="tname">
          <a:documentation>Caption of list</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <ref name="li">
          <a:documentation>List items</a:documentation>
        </ref>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note">
          <a:documentation>Notes whose scope is the current block</a:documentation>
        </ref>
      </zeroOrMore>
    </define>
    <define name="OlAttributes">
      <a:documentation>NOTE: `start` attribute is not included by default, because of problems it raises with DOC output</a:documentation>
      <ref name="BlockAttributes"/>
      <optional>
        <attribute name="type">
          <a:documentation>Type of numbering to be applied to the list items</a:documentation>
          <choice>
            <value>roman</value>
            <value>alphabet</value>
            <value>arabic</value>
            <value>roman_upper</value>
            <value>alphabet_upper</value>
          </choice>
        </attribute>
      </optional>
    </define>
    <define name="DlAttributes">
      <ref name="BlockAttributes"/>
      <optional>
        <attribute name="key">
          <a:documentation>This definition list is the key of a figure or formula</a:documentation>
          <data type="boolean"/>
        </attribute>
      </optional>
    </define>
    <define name="DlBody">
      <optional>
        <ref name="tname">
          <a:documentation>Caption of the list</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <group>
          <a:documentation>Entry-Definition pair used to constitute a definition list</a:documentation>
          <ref name="dt">
            <a:documentation>Entry being defined in the definition</a:documentation>
          </ref>
          <ref name="dd">
            <a:documentation>Definition of the entry</a:documentation>
          </ref>
        </group>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note">
          <a:documentation>Notes whose scope is the current block</a:documentation>
        </ref>
      </zeroOrMore>
    </define>
    <define name="dt">
      <element name="dt">
        <ref name="OptionalId">
          <a:documentation>Optional identifier for definition term (enabling crossreferencing of definitions)</a:documentation>
        </ref>
        <zeroOrMore>
          <ref name="TextElement">
            <a:documentation>Entry being defined in the definition</a:documentation>
          </ref>
        </zeroOrMore>
      </element>
    </define>
    <define name="ExampleAttributes">
      <ref name="NumberingAttributes"/>
      <ref name="BlockAttributes"/>
    </define>
    <define name="ExampleBody">
      <optional>
        <ref name="tname">
          <a:documentation>The caption of the example</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <choice>
          <a:documentation>Content of the example</a:documentation>
          <ref name="formula"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
          <ref name="paragraph-with-footnote"/>
          <ref name="figure"/>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="note">
          <a:documentation>Notes whose scope is the current block</a:documentation>
        </ref>
      </zeroOrMore>
    </define>
    <define name="TableBody">
      <optional>
        <ref name="colgroup">
          <a:documentation>The widths of the columns in the table</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="tname">
          <a:documentation>Caption for the table</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="thead">
          <a:documentation>Table rows constituting the table header</a:documentation>
        </ref>
      </optional>
      <ref name="tbody">
        <a:documentation>Table rows constituting the table body</a:documentation>
      </ref>
      <optional>
        <ref name="tfoot">
          <a:documentation>Table rows constituting the table footer</a:documentation>
        </ref>
      </optional>
      <optional>
        <ref name="dl">
          <a:documentation>Definitions list defining any symbols used in the table</a:documentation>
        </ref>
      </optional>
      <zeroOrMore>
        <ref name="table-note">
          <a:documentation>Notes specific to this block</a:documentation>
        </ref>
      </zeroOrMore>
      <ref name="TermSource">
        <a:documentation>A source for the table</a:documentation>
      </ref>
    </define>
    <define name="SourceBody">
      <optional>
        <ref name="tname">
          <a:documentation>The caption of the block</a:documentation>
        </ref>
      </optional>
      <ref name="sourcecodebody">
        <a:documentation>The sourcecode content</a:documentation>
      </ref>
      <zeroOrMore>
        <ref name="annotation">
          <a:documentation>Annotations to the source code; each annotation consists of zero or more paragraphs,
and is intended to be referenced by a callout within the source code</a:documentation>
        </ref>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="note">
          <a:documentation>Notes whose scope is the current block</a:documentation>
        </ref>
      </zeroOrMore>
      <ref name="TermSource">
        <a:documentation>A source for the block</a:documentation>
      </ref>
    </define>
    <define name="sourcecodebody">
      <a:documentation>The computer code or other such text presented in the block, as a single unformatted string. 
(The string should be treated as pre-formatted text, with whitespace treated as significant)</a:documentation>
      <element name="body">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="callout">
              <a:documentation>Zero or more cross-references; these are intended to be embedded within the content string, and link to annotations</a:documentation>
            </ref>
            <ref name="xref">
              <a:documentation>Hyperlink of code segment to another part of the document</a:documentation>
            </ref>
            <ref name="eref">
              <a:documentation>Hyperlink of code segment to external bibliographic resource</a:documentation>
            </ref>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="sections">
      <element name="sections">
        <oneOrMore>
          <choice>
            <ref name="clause"/>
            <ref name="terms"/>
            <ref name="term-clause"/>
            <ref name="definitions"/>
            <ref name="floating-title"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="references">
      <a:documentation>Bibliography clause. It is used to collate references within the document, where
there could be one or more of such sections within a document. For example, some standardization documents differentiate
normative or informative references, some split references into sections organized by concept relevance.</a:documentation>
      <element name="references">
        <ref name="OptionalId"/>
        <ref name="ReferencesAttributes"/>
        <optional>
          <ref name="section-title"/>
        </optional>
        <zeroOrMore>
          <ref name="BasicBlock">
            <a:documentation>Prefatory text</a:documentation>
          </ref>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="doc_bibitem">
            <a:documentation>Bibliographic item cited in the document</a:documentation>
          </ref>
          <zeroOrMore>
            <ref name="note">
              <a:documentation>Annotation of the bibliographic item</a:documentation>
            </ref>
          </zeroOrMore>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="references">
            <a:documentation>Recursive references section</a:documentation>
          </ref>
        </zeroOrMore>
      </element>
    </define>
    <define name="NoteBody">
      <a:documentation>Content of note</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="paragraph-with-footnote"/>
          <ref name="ul"/>
          <ref name="ol"/>
          <ref name="dl"/>
          <ref name="formula"/>
          <ref name="quote"/>
          <ref name="sourcecode"/>
        </choice>
      </oneOrMore>
    </define>
    <define name="Basic-Section">
      <a:documentation>Group of blocks within text, which is a leaf node in the hierarchical organisation of text (does not contain any sections of its own)</a:documentation>
      <ref name="Basic-Section-Attributes"/>
      <optional>
        <ref name="section-title">
          <a:documentation>Title of the section</a:documentation>
        </ref>
      </optional>
      <oneOrMore>
        <a:documentation>Blocks, containing the textual content of the section
(but excluding subsections, which are only present in Hierarchical Sections)</a:documentation>
        <ref name="BasicBlock"/>
      </oneOrMore>
    </define>
    <define name="LiBody">
      <oneOrMore>
        <ref name="BasicBlock"/>
      </oneOrMore>
    </define>
    <!-- exclude figures? -->
    <define name="dd">
      <element name="dd">
        <zeroOrMore>
          <!-- exclude figures? -->
          <ref name="BasicBlock"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="thead">
      <element name="thead">
        <oneOrMore>
          <ref name="tr"/>
        </oneOrMore>
      </element>
    </define>
    <define name="TdBody">
      <choice>
        <zeroOrMore>
          <choice>
            <a:documentation>Table cell is a block</a:documentation>
            <ref name="TextElement"/>
            <ref name="fn"/>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <choice>
            <a:documentation>Table cell contains a block</a:documentation>
            <ref name="paragraph-with-footnote"/>
            <ref name="dl"/>
            <ref name="ul"/>
            <ref name="ol"/>
            <ref name="figure"/>
          </choice>
        </oneOrMore>
      </choice>
    </define>
    <define name="ThBody">
      <choice>
        <zeroOrMore>
          <choice>
            <a:documentation>Table cell is a block</a:documentation>
            <ref name="TextElement"/>
            <ref name="fn"/>
          </choice>
        </zeroOrMore>
        <oneOrMore>
          <ref name="paragraph-with-footnote">
            <a:documentation>Table cell contains a block</a:documentation>
          </ref>
        </oneOrMore>
      </choice>
    </define>
    <define name="TdAttributes" combine="interleave">
      <attribute name="style">
        <a:documentation>CSS style: only background-color supported</a:documentation>
      </attribute>
    </define>
    <define name="ThAttributes" combine="interleave">
      <attribute name="style">
        <a:documentation>CSS style: only background-color supported</a:documentation>
      </attribute>
    </define>
    <define name="TrAttributes">
      <attribute name="style">
        <a:documentation>CSS style: only background-color supported</a:documentation>
      </attribute>
    </define>
    <define name="table-note">
      <element name="note">
        <ref name="OptionalId"/>
        <oneOrMore>
          <ref name="paragraph-with-footnote"/>
        </oneOrMore>
      </element>
    </define>
    <define name="sub">
      <a:documentation>Subscript text. Corresponds to HTML `sub</a:documentation>
      <element name="sub">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="sup">
      <a:documentation>Superscript text. Corresponds to HTML `sup`</a:documentation>
      <element name="sup">
        <zeroOrMore>
          <choice>
            <ref name="PureTextElement"/>
            <ref name="stem"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="pagebreak">
      <a:documentation>Page break. Only applicable in paged layouts (e.g. PDF, Word), and not flow layouts (e.g. HTML)</a:documentation>
      <element name="pagebreak">
        <optional>
          <attribute name="orientation">
            <a:documentation>Orientation of pages in a section of text in paged media following this page break, applicable until the next page break that
gives an explicit page orientation</a:documentation>
  