grammars/isostandard.rnc

default namespace isostandard = "http://riboseinc.com/isoxml"

include "isodoc.rnc" {

start = iso-standard

organization = 
  element organization {
    orgname+, abbreviation?, uri?, org-identifier*, contact*,
    technical-committee?, subcommittee?, workgroup?, secretariat?  
}

BibDataExtensionType =
        doctype?, editorialgroup, ics*, structuredidentifier

bdate = element date {
  attribute type { ( BibliographicDateType | text ) },
  (
(
element from { ISO8601Date },
element to { ISO8601Date }?
) |
element on { ISO8601Date | "--" }
)

}

sections =
  element sections {
    clause, (term-clause | terms), definitions?, clause+
  }

Basic-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (BasicBlock+, note*) 

Content-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    ( (BasicBlock+, note*) |
      content-subsection+ )

Clause-Section =
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
      ( BasicBlock+, note* ) |
       clause-subsection+
    )

references =
  element references {
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    BasicBlock*,
    (bibitem, note*)*,
    references*
}

definitions =
  element definitions {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute obligation { "normative" | "informative" }?,
    BasicBlock*,
    dl
}

terms = 
  element terms { 
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    BasicBlock*,
    (term+ | ( terms*, definitions?) )
  }

term = 
  element term { 
    attribute id { xsd:ID }?,
    preferred, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource* 
  }

definition =
  element definition {
    ( paragraph | figure | formula )+
  }

annex =
  element annex { 
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    # allow hanging paragraps in annexes: they introduce lists
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | figure | quote | sourcecode | review | example )*,
    BasicBlock*, note*,
    clause-hanging-paragraph-with-footnote*,
    annex-appendix*
  }

figure = 
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | subfigure+ ),
    fn*,
    dl?,
    note*
  }

li =
  element li {
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )+
    attribute id { xsd:ID }?,
    BasicBlock+
    # exclude figures?
  }

dd =
  element dd {
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )*
    # exclude figures?
    BasicBlock*
  }

admonition =
  element admonition { 
    attribute id { xsd:ID },
    attribute type { 
     ( "danger" | "caution" | "warning" | "important" | "safety precautions" )},
    paragraph-with-footnote+,
    note*
  }

xref =
  element xref { 
    attribute target { xsd:IDREF },
    text
  }

hyperlink =
  element link {
    attribute target {xsd:anyURI},
    text
}

thead =
  element thead { tr+ }

td =
  element td {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    (
      (TextElement | fn )* |
      paragraph-with-footnote+
    )
}

th =
  element th {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    (
      (TextElement | fn )* |
      paragraph-with-footnote+
    )
}

table-note = element note {
    attribute id { xsd:ID }?,
 paragraph
}

preface =
  element preface {
    preface_abstract?, foreword, introduction?
}

DocumentType =
     "international-standard" | "technical-specification" |
     "technical-report" | "publicly-available-specification" |
    "international-workshop-agreement" | "guide"

structuredidentifier =
  element structuredidentifier {
    attribute type { text }?,
    (documentnumber, tc-documentnumber? )
}

foreword = element foreword { Basic-Section }
introduction = element introduction { Content-Section }


}

# end overrides

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
iso-standard = 
  element iso-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
  }

bibliography =
  element bibliography {
    (references | reference-clause)+
}

editorialgroup = element editorialgroup {
  technical-committee+, subcommittee*, workgroup*, secretariat?
}

preface_abstract = element abstract { Basic-Section }


documentnumber = 
  element project-number { 
    attribute part { xsd:int }?,
    attribute subpart { xsd:int }?,
    text
   }

tc-documentnumber = 
  element tc-document-number { 
    xsd:int 
   }

technical-committee =
  element technical-committee { IsoWorkgroup }

subcommittee =
  element subcommittee { IsoWorkgroup }

workgroup =
  element workgroup { IsoWorkgroup }

IsoWorkgroup =
    attribute number { xsd:int }?,
    attribute type { text }?,
    text


secretariat =
  element secretariat { text }

clause-hanging-paragraph-with-footnote =
  element clause {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute  inline-header  {   xsd:boolean  } ? ,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    # allow hanging paragraphs in annexes: they introduce lists
    BasicBlock*, note*,
    clause-hanging-paragraph-with-footnote*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    image
 }

termdocsource =
  element termdocsource { CitationType }

ics = element ics { 
  element code { text }, 
  element text { text } 
}

term-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
       (term-clause | terms | definitions)*
    )
}

reference-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
       reference-clause+ | references*
    )
}

annex-appendix =
  element appendix { Clause-Section }
