grammars/isostandard-amd.rnc

#default namespace isostandard = "https://www.metanorma.com/ns/iso"

include "isostandard.rnc" {

start = iso-standard

sections =
  element sections {
    clause+
  }

clause =
  element clause {
    attribute type { text }?,
    attribute change { "add" | "delete" | "modify" }?,
    attribute locality { text }?,
    Clause-Section
  }

iso-standard =
  element iso-standard {
    bibdata, boilerplate?, preface, sections+
  }

documentnumber =        
  element project-number {
    attribute part { xsd:int }?,
    attribute subpart { xsd:int }?,
    attribute addendum { xsd:int }?,
    attribute corrigendum { xsd:int }?,
    attribute origyr { xsd:int }?,
    text
   }     

}

# end overrides

