grammars/isostandard.rnc

default namespace isostandard = "http://riboseinc.com/isoxml"

include "isodoc.rnc" {

start = iso-standard

language =
  element language { ( "en" | "fr" ) }

script =
  element script { "Latn" }

# add type to docidentifier in isodoc?
docidentifier =
  element docidentifier {
    attribute type { text }?,
    (text | (documentnumber, tc-documentnumber? ))
}

organization = 
  element organization {
    orgname, abbreviation?, uri?, org-identifier*, contact*,
    technical-committee?, subcommittee?, workgroup?, secretariat?  
}

BibliographicItem =
    attribute type { BibItemType }?,
    (btitle+ | formattedref), bsource*, docidentifier*, bdate*, contributor*,
    edition?,
    biblionote*, language*, script*, abstract*, status?, copyright?,
  docrelation*, series*, medium?, bplace*,
    extent*, accesslocation*, bclassification?, validity?,
   editorialgroup?, ics*, allParts?


BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, bsource*, docidentifier*, bdate*, contributor*,
    edition?,
    biblionote*, language*, script*, abstract*, status?, copyright,
    docrelation*, series*, medium?, bplace*,
    extent*, accesslocation*, bclassification?, validity?,
        editorialgroup, ics*, allParts?

bdate = element date {
  attribute type { ( "published" | "accessed" | "created" | "implemented" | "obsoleted" | "confirmed" | "updated" | "issued" ) },
  # ( ( bfrom, bto? ) | date_on )
  (
(
element from { ( xsd:gYear | xsd:date ) },
element to { ( xsd:gYear | xsd:date ) }?
) |
element on { ( xsd:gYear | xsd:date | "--" ) }
)

}

biblionote = element note { 
  # Biblio date notes can be footnoted
  attribute reference { text }?,
  FormattedString 
}

status =
  element status {
    FormattedString |
     ( stage, substage?, iteration? )
  }

btitle =
  element title {
     FormattedString |
    ( title-intro?, title-main, title-part? )
}


sections =
  element sections {
    clause, (term-clause | terms), definitions?, clause+
  }

Basic-Section =
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (BasicBlock+, note*) 

Content-Section =
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    ( (BasicBlock+, note*) |
      content-subsection+ )

Clause-Section =
    attribute id { xsd:ID }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
      ( BasicBlock+, note* ) |
       clause-subsection+
    )

references =
  element references {
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    bibitem*,
    references*
}

definitions =
  element definitions {
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    dl
}

terms = 
  element terms { 
    attribute id { xsd:ID }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (term+ | ( terms*, definitions?) )
  }

term = 
  element term { 
    attribute id { xsd:ID }?,
    preferred, admitted*, deprecates*,
    termdomain?, definition, termnote*, termexample*, termsource* 
  }

definition =
  element definition {
    ( paragraph | figure | formula )+
  }

annex =
  element annex { 
    attribute id { xsd:ID }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    # allow hanging paragraps in annexes: they introduce lists
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | figure | quote | sourcecode | review | example )*,
    BasicBlock*, note*,
    clause-hanging-paragraph-with-footnote*,
    annex-appendix*
  }

figure = 
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | subfigure+ ),
    fn*,
    dl?,
    note*
  }

li =
  element li {
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )+
    attribute id { xsd:ID }?,
    BasicBlock+
    # exclude figures?
  }

dd =
  element dd {
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | quote | sourcecode | review | example )*
    # exclude figures?
    BasicBlock*
  }

admonition =
  element admonition { 
    attribute id { xsd:ID },
    attribute type { 
     ( "danger" | "caution" | "warning" | "important" | "safety precautions" )},
    paragraph-with-footnote+,
    note*
  }

xref =
  element xref { 
    attribute target { xsd:IDREF },
    text
  }

hyperlink =
  element link {
    attribute target {xsd:anyURI},
    text
}

thead =
  element thead { tr+ }

td =
  element td {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    (
      (TextElement | fn )* |
      paragraph-with-footnote+
    )
}

th =
  element th {
    attribute colspan { text }?,
    attribute rowspan { text }?,
    attribute align { "left" | "right" | "center" }?,
    (
      (TextElement | fn )* |
      paragraph-with-footnote+
    )
}

table-note = element note {
    attribute id { xsd:ID }?,
 paragraph
}

preface =
  element preface {
    foreword, introduction?
}

}

# end overrides

# We display the Normative References between scope and terms; but to keep the
# grammar simple, we keep the references together
iso-standard = 
  element iso-standard {
    bibdata, version?, termdocsource*, preface, sections+, annex*, bibliography
  }

bibliography =
  element bibliography {
    (references | reference-clause)+
}

BibItemType |=
     "international-standard" | "technical-specification" |
     "technical-report" | "publicly-available-specification" |
    "international-workshop-agreement" | "guide"


editorialgroup = element editorialgroup {
  technical-committee, subcommittee?, workgroup?, secretariat?
}

foreword = element foreword { Basic-Section }
introduction = element introduction { Content-Section }

stage = 
  element stage {
    ("00" | "10" | "20" | "30" | "40" | "50" | "60" | "90" | "95" )
  }

substage = 
  element substage {
    ("00" | "20" | "60" | "90" | "92" | "93" | "98" | "99" )
  }

iteration =
  element iteration { xsd:int }

documentnumber = 
  element project-number { 
    attribute part { xsd:int }?,
    attribute subpart { xsd:int }?,
    text
   }

tc-documentnumber = 
  element tc-document-number { 
    xsd:int 
   }

technical-committee =
  element technical-committee { IsoWorkgroup }

subcommittee =
  element subcommittee { IsoWorkgroup }

workgroup =
  element workgroup { IsoWorkgroup }

IsoWorkgroup =
    attribute number { xsd:int }?,
    attribute type { text }?,
    text


secretariat =
  element secretariat { text }

title-intro =
  element title-intro { FormattedString }

title-main =
  element title-main { FormattedString }

title-part =
  element title-part { FormattedString }

allParts = element allparts { xsd:boolean }

clause-hanging-paragraph-with-footnote =
  element clause {
    attribute id { xsd:ID }?,
    attribute  inline-header  {   xsd:boolean  } ? ,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    # allow hanging paragraphs in annexes: they introduce lists
    BasicBlock*, note*,
    clause-hanging-paragraph-with-footnote*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    image
 }

termdocsource =
  element termdocsource { CitationType }

ics = element ics { 
  element code { text }, 
  element text { text } 
}

term-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
       (term-clause | terms | definitions)*
    )
}

reference-clause =
  element clause {
    attribute id { xsd:ID }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    (
       reference-clause+ | references*
    )
}

annex-appendix =
  element appendix { Clause-Section }
