grammars/itu.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isodoc.rnc" {

start = itu

ol =
  element ol {
    attribute id { xsd:ID },
    attribute class { "steps" }?,
    li+, note*
}

DocumentType =
"recommendation" | "recommendation-supplement" | "recommendation-amendment" | "recommendation-corrigendum" | "recommendation-errata" |
"recommendation-annex" | "focus-group" | "implementers-guide" | "technical-paper" | "technical-report" | "joint-itu-iso-iec" | "resolution"

editorialgroup = element editorialgroup {
  bureau,
  group?,
  subgroup?,
  workgroup?
}

structuredidentifier = element structuredidentifier {
  bureau,
  element docnumber { text },
  element annexid { text }?
}


BibDataExtensionType =
    doctype?, editorialgroup, ics*, recommendationstatus?, ipnoticereceived?, structuredidentifier?

preface = element preface { ( content | abstract | foreword | introduction | acknowledgements | clause)+ }


}

TextElement |= add | del

add = element add { PureTextElement | eref | stem | keyword | xref | hyperlink }
del = element del { PureTextElement | eref | stem | keyword | xref | hyperlink }

ipnoticereceived = element ip-notice-received { xsd:boolean }

recommendationstatus = element recommendationstatus {
element from { ISO8601Date },
element to { ISO8601Date },
approvalstage?
}

approvalstage = element approvalstage {
  attribute process { "tap" | "aap" },
  ( "determined" | "in-force" | "a" | "lc" | "ac" | "lj" | "aj" | "na" | "ar" | "ri" | "at" | "sg" | "c" | "tap" )
}

bureau = element bureau { "T" | "D" | "R" }

group = element group { ItuGroup }

subgroup = element subgroup { ItuGroup }

ItuGroup =
  attribute type { "tsag" | "study-group" | "work-group" }?,
  tname,
  groupacronym?,
  groupperiod?

groupacronym = element acronym { text }

groupperiod = element period {
  groupperiodstart,
  groupperiodend?
}

groupperiodstart = element start { xsd:gYear }
groupperiodend = element end { xsd:gYear }

workgroup = element workgroup { ItuGroup }

itu =
  element itu-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
 }

