grammars/itu.rnc

include "relaton-itu.rnc" { }
include "isodoc.rnc" {

OlAttributes &=
    attribute class { "steps" }?

preface = element preface { ( content | abstract | foreword | introduction | acknowledgements | clause)+ }

Clause-Section =
    Section-Attributes,
    attribute type { text }?,
    section-title?,
    (
      ( (  BasicBlock* ) | amend ),
       (clause-subsection | terms | definitions | floating-title )*
    )


}
