grammars/nist.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csand additions. And we do not want that.
  -->
  <include href="isostandard.rng">
    <start>
      <ref name="nist-standard"/>
    </start>
    <define name="btitle">
      <element name="title">
        <ref name="TypedTitleString"/>
      </element>
    </define>
    <define name="docidentifier">
      <element name="docidentifier">
        <optional>
          <attribute name="type"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="figure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
          <oneOrMore>
            <ref name="subfigure"/>
          </oneOrMore>
        </choice>
        <zeroOrMore>
          <ref name="fn"/>
        </zeroOrMore>
        <optional>
          <ref name="dl"/>
        </optional>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="subfigure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
        </choice>
      </element>
    </define>
    <define name="status">
      <element name="status">
        <ref name="stage"/>
        <optional>
          <ref name="substage"/>
        </optional>
        <optional>
          <ref name="iteration"/>
        </optional>
      </element>
    </define>
    <define name="BibItemType" combine="choice">
      <value>standard</value>
    </define>
    <!-- DocRelationType |= "obsoletedBy" | "supersedes" | "supersededBy" -->
    <define name="DocRelationType">
      <choice>
        <value>obsoletes</value>
        <value>updates</value>
        <value>updatedBy</value>
        <value>complements</value>
        <value>derivedFrom</value>
        <value>translatedFrom</value>
        <value>adoptedFrom</value>
        <value>equivalent</value>
        <value>identical</value>
        <value>nonequivalent</value>
        <value>includedIn</value>
        <value>includes</value>
        <value>instance</value>
        <value>partOf</value>
        <value>hasDraft</value>
        <value>obsoletedBy</value>
        <value>supersedes</value>
        <value>supersededBy</value>
      </choice>
    </define>
    <!-- BibliographicDateType |= "abandoned" | "superseded" -->
    <define name="BibliographicDateType">
      <choice>
        <value>published</value>
        <value>accessed</value>
        <value>created</value>
        <value>implemented</value>
        <value>obsoleted</value>
        <value>confirmed</value>
        <value>updated</value>
        <value>issued</value>
        <value>transmitted</value>
        <value>copied</value>
        <value>unchanged</value>
        <value>circulated</value>
        <value>abandoned</value>
        <value>superseded</value>
      </choice>
    </define>
    <!-- TitleType |= "document-class" -->
    <define name="TitleType">
      <choice>
        <value>alternative</value>
        <value>original</value>
        <value>unofficial</value>
        <value>subtitle</value>
        <value>main</value>
        <value>document-class</value>
        <value>short-title</value>
        <value>short-subtitle</value>
      </choice>
    </define>
    <define name="editorialgroup">
      <element name="editorialgroup">
        <oneOrMore>
          <ref name="committee"/>
        </oneOrMore>
      </element>
    </define>
    <define name="stage">
      <element name="stage">
        <choice>
          <value>draft-internal</value>
          <value>draft-wip</value>
          <value>draft-prelim</value>
          <value>draft-public</value>
          <value>final</value>
          <value>final-review</value>
        </choice>
      </element>
    </define>
    <define name="substage">
      <element name="substage">
        <choice>
          <value>active</value>
          <value>retired</value>
          <value>withdrawn</value>
        </choice>
      </element>
    </define>
    <define name="iteration">
      <element name="iteration">
        <text/>
      </element>
    </define>
    <define name="title-main">
      <element name="title-main">
        <ref name="FormattedString"/>
      </element>
    </define>
    <define name="preface">
      <element name="preface">
        <optional>
          <ref name="preface_abstract"/>
        </optional>
        <optional>
          <ref name="foreword"/>
        </optional>
        <zeroOrMore>
          <ref name="clause"/>
        </zeroOrMore>
        <optional>
          <ref name="reviewernote"/>
        </optional>
        <optional>
          <ref name="executivesummary"/>
        </optional>
      </element>
    </define>
    <define name="annex">
      <element name="annex">
        <optional>
          <attribute name="id">
            <data type="ID"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="inline-header">
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="obligation">
            <choice>
              <value>normative</value>
              <value>informative</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <ref name="section-title"/>
        </optional>
        <zeroOrMore>
          <!--
            allow hanging paragraps in annexes: they introduce lists
            ( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | figure | quote | sourcecode | review | example )*,
          -->
          <ref name="BasicBlock"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="clause-hanging-paragraph-with-footnote"/>
          </zeroOrMore>
          <ref name="terms"/>
        </choice>
      </element>
    </define>
    <define name="BibData">
      <optional>
        <attribute name="type">
          <ref name="BibItemType"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="btitle"/>
      </oneOrMore>
      <optional>
        <ref name="formattedref"/>
      </optional>
      <zeroOrMore>
        <ref name="bsource"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="nistdocidentifier"/>
      </zeroOrMore>
      <optional>
        <ref name="docnumber"/>
      </optional>
      <zeroOrMore>
        <ref name="bdate"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="contributor"/>
      </zeroOrMore>
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="revision"/>
      </optional>
      <optional>
        <ref name="version"/>
      </optional>
      <zeroOrMore>
        <ref name="biblionote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="language"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="script"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="abstract"/>
      </zeroOrMore>
      <optional>
        <ref name="status"/>
      </optional>
      <ref name="copyright"/>
      <zeroOrMore>
        <ref name="docrelation"/>
      </zeroOrMore>
      <optional>
        <ref name="nistseries"/>
      </optional>
      <optional>
        <ref name="nistsubseries"/>
      </optional>
      <optional>
        <ref name="editorialgroup"/>
      </optional>
      <zeroOrMore>
        <ref name="ics"/>
      </zeroOrMore>
      <optional>
        <ref name="security"/>
      </optional>
      <oneOrMore>
        <ref name="keyword"/>
      </oneOrMore>
      <ref name="commentperiod"/>
    </define>
  </include>
  <define name="committee">
    <element name="committee">
      <attribute name="type">
        <choice>
          <value>technical</value>
          <value>provisional</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="title-sub">
    <element name="title-sub">
      <ref name="FormattedString"/>
    </element>
  </define>
  <define name="nistdocidentifier">
    <element name="docidentifier">
      <attribute name="type">
        <choice>
          <value>nist</value>
          <value>nist-long</value>
          <value>nist-mr</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="security">
    <element name="security">
      <text/>
    </element>
  </define>
  <define name="nistseries">
    <element name="series">
      <attribute name="type">
        <value>main</value>
      </attribute>
      <ref name="nistseriestitle"/>
      <optional>
        <ref name="abbreviation"/>
      </optional>
    </element>
  </define>
  <define name="nistsubseries">
    <element name="series">
      <attribute name="type">
        <value>secondary</value>
      </attribute>
      <ref name="nistsubseriestitle"/>
    </element>
  </define>
  <define name="nistseriestitle">
    <element name="title">
      <choice>
        <value>NIST Advanced Manufacturing Series</value>
        <value>NIST Building Science Series</value>
        <value>NIST Federal Information Processing Standards</value>
        <value>NIST Grant/Contract Reports</value>
        <value>NIST Handbook</value>
        <value>ITL Bulletin</value>
        <value>Journal of Physical and Chemical Reference Data</value>
        <value>NIST Journal of Research</value>
        <value>NIST Letter Circular</value>
        <value>NIST Monograph</value>
        <value>NIST National Construction Safety Team Act Reports</value>
        <value>NIST National Standard Reference Data Series</value>
        <value>NIST Interagency/Internal Report</value>
        <value>NIST Product Standards</value>
        <value>NIST Special Publication</value>
        <value>NIST Technical Note</value>
        <value>NIST Other</value>
        <value>CSRC White Paper</value>
        <value>CSRC Book</value>
        <value>CSRC Use Case</value>
        <value>CSRC Building Block</value>
      </choice>
    </element>
  </define>
  <define name="nistsubseriestitle">
    <element name="title">
      <choice>
        <value>computer-security</value>
        <value>information-security</value>
      </choice>
    </element>
  </define>
  <define name="commentperiod">
    <element name="commentperiod">
      <element name="from">
        <ref name="ISO8601Date"/>
      </element>
      <optional>
        <element name="to">
          <ref name="ISO8601Date"/>
        </element>
      </optional>
      <optional>
        <element name="extended">
          <ref name="ISO8601Date"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="reviewernote">
    <element name="reviewernote">
      <ref name="Basic-Section"/>
    </element>
  </define>
  <define name="executivesummary">
    <element name="executivesummary">
      <ref name="Basic-Section"/>
    </element>
  </define>
  <define name="revision">
    <element name="revision">
      <text/>
    </element>
  </define>
  <define name="nist-standard">
    <element name="nist-standard">
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <optional>
        <ref name="boilerplate"/>
      </optional>
      <ref name="preface"/>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
    </element>
  </define>
</grammar>
