grammars/nist.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = nist-standard

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

DocumentType =
        "standard" 

TitleType = ( "alternative" | "original" | "unofficial" | "subtitle" | "main" )

preface =
  element preface {
    preface_abstract?, foreword?, clause*, reviewernote?, executivesummary?
}

annex =
  element annex {
    attribute id { xsd:ID }?,
    attribute language { text }?,
    attribute script { text }?,
    attribute inline-header { xsd:boolean }?,
    attribute obligation { "normative" | "informative" }?,
    section-title?,
    # allow hanging paragraps in annexes: they introduce lists
    #( paragraph-with-footnote | table | note | formula | admonition | ol | ul | dl | figure | quote | sourcecode | review | example )*,
    BasicBlock*, note*,
    (clause-hanging-paragraph-with-footnote* | terms)
  }

BibDataExtensionType =
    doctype?, commentperiod?

}

DocRelationType |= "obsoletedBy" | "supersedes" | "supersededBy"

BibliographicDateType |= "abandoned" | "superseded"

commentperiod = element commentperiod {
element from { ISO8601Date },
element to { ISO8601Date }?,
element extended { ISO8601Date }?
}

reviewernote = element reviewernote { Basic-Section }
executivesummary = element executivesummary { Basic-Section }


nist-standard =
  element nist-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
 }

