grammars/nist.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = nist-standard

language = element language { ( "en" ) }

docidentifier = element docidentifier {
  attribute type { text }?,
  text
}

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

status =
  element status {
     stage, iteration? 
  }


BibItemType |=
        "standard" 

DocRelationType |= "obsoletedBy" | "supersedes" | "supersededBy"

TitleType |= "document-class"

editorialgroup = element editorialgroup {
  committee+
}

stage = element stage { "internal-draft" | "public-draft" | "final" | "retired-draft" | "withdrawn" }

iteration = element iteration { text }

title-main =
  element title-main { FormattedString }


preface =
  element preface {
    authority, preface_abstract?, foreword?, introduction?,
    clause*, reviewernote?, executivesummary?
}

BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, bsource*, nistdocidentifier*, docnumber?, bdate*, contributor*,
    edition?, version?,
    biblionote*, language*, script*, abstract*, status?, copyright,
    docrelation*, nistseries?, nistsubseries?, editorialgroup, ics*, security?, keyword+,
    commentperiod
}

committee = element committee { 
    attribute type { ( "technical" | "provisional" ) },
    text
}

title-sub =
  element title-sub { FormattedString }

nistdocidentifier =
  element docidentifier {
    attribute type { "nist" },
    text
   }

security = element security { text }

nistseries = element series {
   attribute type { "main" },
   nistseriestitle,
   abbreviation?
}

nistsubseries = element series {
   attribute type { "secondary" },
   nistsubseriestitle
}

nistseriestitle = element title {
  "nist-ams" | "building-science" | "nist-fips" | "nist-gcr" | "nist-hb" |
  "itl-bulletin" | "jpcrd" | "nist-jres" | "letter-circular" | "nist-monograph" |
  "nist-ncstar" | "nist-nsrds" | "nistir" | "product-stadnards" | "nist-sp" |
  "nist-tn" | "other" | "csrc-white-paper" | "csrc-book" | "csrc-use-case" |
  "csrc-building-block"
}

nistsubseriestitle = element title {
  "computer-security" | "information-security"
}

commentperiod = element commentperiod {
element from { ISO8601Date },
element to { ISO8601Date }?,
element extended { ISO8601Date }?
}

reviewernote = element reviewernote { Basic-Section }
executivesummary = element executivesummary { Basic-Section }

authority = element authority {
element authority1 { Basic-Section },
element authority2 { Basic-Section },
element authority3 { Basic-Section },
element authority4 { Basic-Section },
element authority5 { Basic-Section }
}

nist-standard =
  element nist-standard {
    bibdata, termdocsource*, preface, sections+, annex*, bibliography
 }

