grammars/nist.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = nist-standard

language = element language { ( "en" ) }

docidentifier = element docidentifier {
  attribute type { text }?,
  text
}

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

status =
  element status {
     stage, iteration? 
  }


BibItemType |=
"policy-and-procedures" | "best-practices" | "supporting-document" | "report" | "legal" | "directives" | "proposal" | 
        "standard" 

editorialgroup = element editorialgroup {
  committee+
}

btitle =
  element title {
     FormattedString |
    ( title-main, title-sub?, title-part? )
}

stage = element stage { "internal-draft" | "public-draft" | "final" | "retired-draft" | "withdrawn" }

iteration = element iteration { text }

title-main =
  element title-main { FormattedString }

title-part =
  element title-part { FormattedString }


BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, bsource*, nistdocidentifier*, docnumber?, bdate*, contributor*,
    edition?, version?,
    biblionote*, language*, script*, abstract*, status?, copyright,
    docrelation*, editorialgroup, ics*, security?


}

committee = element committee { 
    attribute type { ( "technical" | "provisional" ) },
    text
}

title-sub =
  element title-sub { FormattedString }

nistdocidentifier =
  element docidentifier {
    attribute type { "nist" },
    attribute part { xsd:int }?,
    text
   }

security = element security { text }

nist-standard =
  element nist-standard {
    bibdata, termdocsource*, preface, sections+, annex*, bibliography
 }

