grammars/nist.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csand additions. And we do not want that.
  -->
  <include href="isostandard.rng">
    <start>
      <ref name="nist-standard"/>
    </start>
    <define name="language">
      <element name="language">
        <value>en</value>
      </element>
    </define>
    <define name="docidentifier">
      <element name="docidentifier">
        <optional>
          <attribute name="type"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="figure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
          <oneOrMore>
            <ref name="subfigure"/>
          </oneOrMore>
        </choice>
        <zeroOrMore>
          <ref name="fn"/>
        </zeroOrMore>
        <optional>
          <ref name="dl"/>
        </optional>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="subfigure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
        </choice>
      </element>
    </define>
    <define name="status">
      <element name="status">
        <ref name="stage"/>
        <optional>
          <ref name="iteration"/>
        </optional>
      </element>
    </define>
    <define name="BibItemType" combine="choice">
      <choice>
        <value>policy-and-procedures</value>
        <value>best-practices</value>
        <value>supporting-document</value>
        <value>report</value>
        <value>legal</value>
        <value>directives</value>
        <value>proposal</value>
        <value>standard</value>
      </choice>
    </define>
    <define name="editorialgroup">
      <element name="editorialgroup">
        <oneOrMore>
          <ref name="committee"/>
        </oneOrMore>
      </element>
    </define>
    <define name="btitle">
      <element name="title">
        <choice>
          <ref name="FormattedString"/>
          <group>
            <ref name="title-main"/>
            <optional>
              <ref name="title-sub"/>
            </optional>
            <optional>
              <ref name="title-part"/>
            </optional>
          </group>
        </choice>
      </element>
    </define>
    <define name="stage">
      <element name="stage">
        <choice>
          <value>internal-draft</value>
          <value>public-draft</value>
          <value>final</value>
          <value>retired-draft</value>
          <value>withdrawn</value>
        </choice>
      </element>
    </define>
    <define name="iteration">
      <element name="iteration">
        <text/>
      </element>
    </define>
    <define name="title-main">
      <element name="title-main">
        <ref name="FormattedString"/>
      </element>
    </define>
    <define name="title-part">
      <element name="title-part">
        <ref name="FormattedString"/>
      </element>
    </define>
    <define name="BibData">
      <optional>
        <attribute name="type">
          <ref name="BibItemType"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="btitle"/>
      </oneOrMore>
      <optional>
        <ref name="formattedref"/>
      </optional>
      <zeroOrMore>
        <ref name="bsource"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="nistdocidentifier"/>
      </zeroOrMore>
      <optional>
        <ref name="docnumber"/>
      </optional>
      <zeroOrMore>
        <ref name="bdate"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="contributor"/>
      </zeroOrMore>
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="version"/>
      </optional>
      <zeroOrMore>
        <ref name="biblionote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="language"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="script"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="abstract"/>
      </zeroOrMore>
      <optional>
        <ref name="status"/>
      </optional>
      <ref name="copyright"/>
      <zeroOrMore>
        <ref name="docrelation"/>
      </zeroOrMore>
      <optional>
        <ref name="nistseries"/>
      </optional>
      <optional>
        <ref name="nistsubseries"/>
      </optional>
      <ref name="editorialgroup"/>
      <zeroOrMore>
        <ref name="ics"/>
      </zeroOrMore>
      <optional>
        <ref name="security"/>
      </optional>
      <zeroOrMore>
        <ref name="keyword"/>
      </zeroOrMore>
      <ref name="commentperiod"/>
    </define>
  </include>
  <define name="committee">
    <element name="committee">
      <attribute name="type">
        <choice>
          <value>technical</value>
          <value>provisional</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="title-sub">
    <element name="title-sub">
      <ref name="FormattedString"/>
    </element>
  </define>
  <define name="nistdocidentifier">
    <element name="docidentifier">
      <attribute name="type">
        <value>nist</value>
      </attribute>
      <optional>
        <attribute name="part">
          <data type="int"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="security">
    <element name="security">
      <text/>
    </element>
  </define>
  <define name="nistseries">
    <element name="series">
      <attribute name="type">
        <value>main</value>
      </attribute>
      <ref name="nistseriestitle"/>
      <optional>
        <ref name="abbreviation"/>
      </optional>
    </element>
  </define>
  <define name="nistsubseries">
    <element name="series">
      <attribute name="type">
        <value>secondary</value>
      </attribute>
      <ref name="nistsubseriestitle"/>
    </element>
  </define>
  <define name="nistseriestitle">
    <element name="title">
      <choice>
        <value>nist-ams</value>
        <value>building-science</value>
        <value>nist-fips</value>
        <value>nist-gcr</value>
        <value>nist-hb</value>
        <value>itl-bulletin</value>
        <value>jpcrd</value>
        <value>nist-jres</value>
        <value>letter-circular</value>
        <value>nist-monograph</value>
        <value>nist-ncstar</value>
        <value>nist-nsrds</value>
        <value>nistir</value>
        <value>product-stadnards</value>
        <value>nist-sp</value>
        <value>nist-tn</value>
        <value>other</value>
        <value>csrc-white-paper</value>
        <value>csrc-book</value>
        <value>csrc-use-case</value>
        <value>csrc-building-block</value>
      </choice>
    </element>
  </define>
  <define name="nistsubseriestitle">
    <element name="title">
      <choice>
        <value>computer-security</value>
        <value>information-security</value>
      </choice>
    </element>
  </define>
  <define name="commentperiod">
    <element name="commentperiod">
      <element name="from">
        <ref name="ISO8601Date"/>
      </element>
      <optional>
        <element name="to">
          <ref name="ISO8601Date"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="nist-standard">
    <element name="nist-standard">
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <ref name="preface"/>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
    </element>
  </define>
</grammar>
