grammars/nist.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = nist-standard

btitle = element title { TypedTitleString }

language = element language { ( "en" ) }

docidentifier = element docidentifier {
  attribute type { text }?,
  text
}

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

status =
  element status {
     stage, iteration? 
  }


BibItemType |=
        "standard" 

#DocRelationType |= "obsoletedBy" | "supersedes" | "supersededBy"

DocRelationType =
"obsoletes" | "updates" | "updatedBy" | "complements" | "derivedFrom" | "translatedFrom" |
        "adoptedFrom" | "equivalent" | "identical" | "nonequivalent" | "includedIn" | "includes" |
        "instance" | "partOf" | "hasDraft" |
"obsoletedBy" | "supersedes" | "supersededBy"

BibliographicDateType |= "abandoned"

#TitleType |= "document-class"
TitleType = ( "alternative" | "original" | "unofficial" | "subtitle" | "main" | "document-class" )

editorialgroup = element editorialgroup {
  committee+
}

stage = element stage { "draft-internal" | "draft-wip" | "draft-prelim" | "draft-public" | "draft-retire" | 
    "draft-withdrawn" | "final" | "final-review" | "final-withdrawn" }

iteration = element iteration { text }

title-main =
  element title-main { FormattedString }


preface =
  element preface {
    authority, preface_abstract?, foreword?, clause*, reviewernote?, executivesummary?
}

BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, bsource*, nistdocidentifier*, docnumber?, bdate*, contributor*,
    edition?, revision?, version?,
    biblionote*, language*, script*, abstract*, status?, copyright,
    docrelation*, nistseries?, nistsubseries?, editorialgroup?, ics*, security?, keyword+,
    commentperiod
}

committee = element committee { 
    attribute type { ( "technical" | "provisional" ) },
    text
}

title-sub =
  element title-sub { FormattedString }

nistdocidentifier =
  element docidentifier {
    attribute type { "nist" | "nist-long" | "nist-mr" }, 
    text
   }

security = element security { text }

nistseries = element series {
   attribute type { "main" },
   nistseriestitle,
   abbreviation?
}

nistsubseries = element series {
   attribute type { "secondary" },
   nistsubseriestitle
}

nistseriestitle = element title {
"NIST Advanced Manufacturing Series" | "NIST Building Science Series" | "NIST Federal Information Processing Standards" | "NIST Grant/Contract Reports" | "NIST Handbook" | "ITL Bulletin" | "Journal of Physical and Chemical Reference Data" | "NIST Journal of Research" | "NIST Letter Circular" | "NIST Monograph" | "NIST National Construction Safety Team Act Reports" | "NIST National Standard Reference Data Series" | "NIST Interagency/Internal Report" | "NIST Product Standards" | "NIST Special Publication" | "NIST Technical Note" | "NIST Other" | "CSRC White Paper" | "CSRC Book" | "CSRC Use Case" | "CSRC Building Block" 
}

nistsubseriestitle = element title {
  "computer-security" | "information-security"
}

commentperiod = element commentperiod {
element from { ISO8601Date },
element to { ISO8601Date }?,
element extended { ISO8601Date }?
}

reviewernote = element reviewernote { Basic-Section }
executivesummary = element executivesummary { Basic-Section }

authority = element authority {
element authority1 { Basic-Section },
element authority2 { Basic-Section },
element authority3 { Basic-Section },
element authority4 { Basic-Section }?,
element authority5 { Basic-Section }
}

revision = element revision { text }

nist-standard =
  element nist-standard {
    bibdata, termdocsource*, preface, sections+, annex*, bibliography
 }

