grammars/ogc.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isodoc.rnc" {

start = ogc-standard

DocumentType =
"abstract-specification-topic" | "best-practice" | "change-request-supporting-document" | "community-practice" | "community-standard" | "discussion-paper" | "engineering-report" | "other" | "policy" | "reference-model" | "release-notes" | "standard" | "user-guide" | "white-paper" | "test-suite"

editorialgroup = element editorialgroup {
  committee, subcommittee?, workgroup?
}

BibDataExtensionType =
    doctype?, docsubtype?, editorialgroup, ics*

preface =
  element preface {
    preface_abstract?, foreword, submitters?
}


}

docsubtype = element docsubtype { "conceptual-model" | "conceptual-model-and-encoding" | "conceptual-model-and-implementation" | "encoding" | "extension" | "implementation" | "profile" | "profile-with-extension" | "general"  }

submitters = element submitters { Basic-Section }

committee = element committee { 
    "technical" | "planning" | "strategic-member-advisory"
}

subcommittee =
  element subcommittee { IsoWorkgroup }

workgroup =
  element workgroup { IsoWorkgroup }

ogc-standard =
  element ogc-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
 }

