grammars/ogc.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
    we cannot have a new default namespace: we will end up with a grammar with two different
    namespaces, one for isostandard and one for csand additions. And we do not want that.
  -->
  <include href="isostandard.rng">
    <start>
      <ref name="ogc-standard"/>
    </start>
    <define name="docidentifier">
      <element name="docidentifier">
        <optional>
          <attribute name="type"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="btitle">
      <element name="title">
        <ref name="FormattedString"/>
      </element>
    </define>
    <define name="figure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
          <oneOrMore>
            <ref name="subfigure"/>
          </oneOrMore>
        </choice>
        <zeroOrMore>
          <ref name="fn"/>
        </zeroOrMore>
        <optional>
          <ref name="dl"/>
        </optional>
        <zeroOrMore>
          <ref name="note"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="subfigure">
      <element name="figure">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <ref name="tname"/>
        </optional>
        <choice>
          <ref name="image"/>
          <ref name="pre"/>
        </choice>
      </element>
    </define>
    <define name="status">
      <element name="status">
        <choice>
          <value>rfc</value>
          <value>candidate</value>
          <value>published</value>
          <value>deprecated</value>
          <value>retired</value>
        </choice>
      </element>
    </define>
    <define name="BibItemType" combine="choice">
      <choice>
        <value>standard</value>
        <value>standard-with-suite</value>
        <value>abstract-specification</value>
        <value>community-standard</value>
        <value>profile</value>
        <value>best-practice</value>
        <value>engineering-report</value>
        <value>discussion-paper</value>
        <value>reference-model</value>
        <value>user-guide</value>
        <value>policy</value>
        <value>guide</value>
        <value>amendment</value>
        <value>technical-corrigendum</value>
        <value>administrative</value>
      </choice>
    </define>
    <define name="editorialgroup">
      <element name="editorialgroup">
        <ref name="committee"/>
        <optional>
          <ref name="subcommittee"/>
        </optional>
        <optional>
          <ref name="workgroup"/>
        </optional>
      </element>
    </define>
    <define name="BibData">
      <optional>
        <attribute name="type">
          <ref name="BibItemType"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="btitle"/>
      </oneOrMore>
      <optional>
        <ref name="formattedref"/>
      </optional>
      <zeroOrMore>
        <ref name="bsource"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="docidentifier"/>
      </zeroOrMore>
      <optional>
        <ref name="docnumber"/>
      </optional>
      <zeroOrMore>
        <ref name="bdate"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="contributor"/>
      </zeroOrMore>
      <optional>
        <ref name="edition"/>
      </optional>
      <optional>
        <ref name="version"/>
      </optional>
      <zeroOrMore>
        <ref name="biblionote"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="language"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="script"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="abstract"/>
      </zeroOrMore>
      <optional>
        <ref name="status"/>
      </optional>
      <ref name="copyright"/>
      <zeroOrMore>
        <ref name="docrelation"/>
      </zeroOrMore>
      <ref name="editorialgroup"/>
      <zeroOrMore>
        <ref name="ics"/>
      </zeroOrMore>
    </define>
    <define name="preface">
      <element name="preface">
        <optional>
          <ref name="preface_abstract"/>
        </optional>
        <ref name="foreword"/>
        <optional>
          <ref name="submitters"/>
        </optional>
      </element>
    </define>
  </include>
  <define name="submitters">
    <element name="submitters">
      <ref name="Basic-Section"/>
    </element>
  </define>
  <define name="committee">
    <element name="committee">
      <choice>
        <value>technical</value>
        <value>planning</value>
        <value>strategic-member-advisory</value>
      </choice>
    </element>
  </define>
  <define name="ogc-standard">
    <element name="ogc-standard">
      <ref name="bibdata"/>
      <zeroOrMore>
        <ref name="termdocsource"/>
      </zeroOrMore>
      <optional>
        <ref name="boilerplate"/>
      </optional>
      <ref name="preface"/>
      <oneOrMore>
        <ref name="sections"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="annex"/>
      </zeroOrMore>
      <ref name="bibliography"/>
    </element>
  </define>
</grammar>
