grammars/ogc.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = ogc-standard

docidentifier = element docidentifier {
  attribute type { text }?,
  text
}

btitle = element title { FormattedString }

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

status = element status { "rfc" | "candidate" | "published" | "deprecated" | "retired" }


BibItemType |=
"standard" | "standard-with-suite" | "abstract-specification" | "community-standard" | "profile" | "best-practice" | "engineering-report" | "discussion-paper" | "reference-model" | "user-guide" | "policy" | "guide" | "amendment" | "technical-corrigendum" | "administrative"

editorialgroup = element editorialgroup {
  committee, subcommittee?, workgroup?
}

BibData =
    attribute type { BibItemType }?,
    btitle+, formattedref?, bsource*, docidentifier*, docnumber?, bdate*, contributor*,
    edition?, version?,
    biblionote*, language*, script*, abstract*, status?, copyright,
    docrelation*, editorialgroup, ics*

preface =
  element preface {
    preface_abstract?, foreword, submitters?
}


}

submitters = element submitters { Basic-Section }


committee = element committee { 
    "technical" | "planning" | "strategic-member-advisory"
}

ogc-standard =
  element ogc-standard {
    bibdata, termdocsource*, preface, sections+, annex*, bibliography
 }

