grammars/ogc.rnc

include "relaton-ogc.rnc" { }
include "isodoc.rnc" {

preface =
  element preface {
    abstract?, foreword, submitters?
}

standard-document =
  element metanorma {
    Root-Attributes,
    bibdata, termdocsource*, misccontainer?, boilerplate?, preface, sections+, annex*, bibliography, indexsect*
 }

}

# end overrides

TextElement |= hi
PureTextElement |= hi

hi = element hi { (PureTextElement|stem)* }

submitters = element submitters { Basic-Section }

