grammars/ogc.rnc

# Currently we inherit from a namespaced grammar, isostandard. Until we inherit from isodoc,
# we cannot have a new default namespace: we will end up with a grammar with two different
# namespaces, one for isostandard and one for csand additions. And we do not want that.

include "isostandard.rnc" {

start = ogc-standard

figure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    ( image | pre| subfigure+ ),
    fn*, dl?, note*
  }

subfigure =
  element figure {
    attribute id { xsd:ID },
    tname?,
    (image | pre )
 }

DocumentType =
"abstract-specification" | "best-practice" | "candidate-standard" | "conformance-class" | "change-request" | "community-standard" | "discussion-paper" | "draft-discussion-paper" | "interoperability-program-report" | "implementation-standard" | "implementation-standard-corrigendum" | "extension-package-standard" | "notes" | "ogc-reference-model" | "profile-corrigendum" | "public-engineering-report" | "policy" | "policy-name-type=specification" | "primer" | "profle" | "request-for-comment" | "retired" | "standard-application-profile" | "test-suite" | "whitepaper" | "approved-technical-baseline" | "recommendation-paper"

editorialgroup = element editorialgroup {
  committee, subcommittee?, workgroup?
}

BibDataExtensionType =
    doctype?, editorialgroup, ics*

preface =
  element preface {
    preface_abstract?, foreword, submitters?
}


}

submitters = element submitters { Basic-Section }


committee = element committee { 
    "technical" | "planning" | "strategic-member-advisory"
}

ogc-standard =
  element ogc-standard {
    bibdata, termdocsource*, boilerplate?, preface, sections+, annex*, bibliography
 }

